// Eng
@font-face {
  font-family: "Bosch Sans Medium Italic";
  src: url("../files/fonts/BoschSans-MediumItalic.eot"); /* IE9*/
  src: url('../files/fonts/BoschSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../files/fonts/BoschSans-MediumItalic.woff') format('woff'), /* chrome firefox */
  url('../files/fonts/BoschSans-MediumItalic.ttf') format('truetype'); /* chrome firefox opera Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Bold';
  src: url('../files/fonts/BoschSans-Bold.eot');
  src: url('../files/fonts/BoschSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../files/fonts/BoschSans-Bold.woff') format('woff'),
  url('../files/fonts/BoschSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// TCH
@font-face {
  font-family: 'Bosch Sans CHS Regular';
  src: url('../files/fonts/BoschSansCHS-Regular.eot');
  src: url('../files/fonts/BoschSansCHS-Regular.eot?#iefix') format('embedded-opentype'),
  url('../files/fonts/BoschSansCHS-Regular.woff') format('woff'),
  url('../files/fonts/BoschSansCHS-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans CHS Bold';
  src: url('../files/fonts/BoschSansCHS-Bold.eot');
  src: url('../files/fonts/BoschSansCHS-Bold.eot?#iefix') format('embedded-opentype'),
  url('../files/fonts/BoschSansCHS-Bold.woff') format('woff'),
  url('../files/fonts/BoschSansCHS-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}