// pc3-width
$pc3-media: 1920px;

// pc2-width
$pc3s-media: 1919px;
$pc2-media: 1280px;

// pc-width
$pc2s-media: 1279px;
$pc-media: 960px;

// pad-width
$pcs-media: 959px;
$pad-media: 760px;

// small-pad-width
$pads-media: 759px;
$phone-media: 480px;

// phone-width
$phones-media: 479px;

// 電腦3
@mixin pc3-width {
  @media all and (min-width: $pc3-media) {
    @content;
  }
}

// 電腦2
@mixin pc2-width {
  @media all and (min-width: $pc2-media) and (max-width: $pc3s-media) {
    @content;
  }
}

// 電腦
@mixin pc-width {
  @media all and (min-width: $pc-media) and (max-width: $pc2s-media) {
    @content;
  }
}

// 平板
@mixin pad-width {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin small-pad-width {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
// 手機
@mixin phone-width {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

// Property
$color_main: #2c3238;
$color_second: #3a3f48;
$color_third: #697180;
$color_third_hover: #b7c2d6;
$color_white: #fff;
$color_orange: #ffb34a;
$color_yellow: #ffd633;
$color_apple_green: #78be20;
$color_green: #2ebc4f;
$color_black: #333;
$color_blue_start: #19283d;
$color_blue_end: #1d678f;
$color_rain: #4dacff;
$color_cyan_blue: #00a8b0;
$color_lake_blue: #008ecf;
$color_white_cloud: #f2f9fe;
$color_grey_cloud: #ccc;
$color_purple: #50237f;
$color_red: #e20015;
$color_font_main: #868e9c;

// Mixin
@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin flex-layout($dir: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border($width: 1px, $type: solid, $color: black) {
  border: $width $type $color;
}

@mixin stroke($color: black, $width: 1px) {
  stroke: $color;
  stroke-width: $width;
}

@mixin independent($color: rgb(248, 130, 130), $zIndex: 1) {
  position: absolute;
  content: '';
  background-color: $color;
  z-index: $zIndex;
}

@mixin translate-center($width, $height, $offsetX: 0px, $offsetY: 0px) {
  left: calc(50% - (#{$width} / 2) + #{$offsetX});
  top: calc(50% - (#{$height} / 2) + #{$offsetY});
}

// configure for project
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // @include border();
}

.main-container {
  position: relative;

  background: rgb(214, 216, 217);
  background: linear-gradient(
    90deg,
    rgba(214, 216, 217, 1) 0%,
    rgba(253, 251, 251, 0) 50%,
    rgba(214, 216, 217, 1) 100%
  );

  @include phone-width() {
    background: rgb(214, 216, 217);
    background: linear-gradient(90deg, rgba(214, 216, 217, 1) 10%, rgba(253, 251, 251, 1) 60%);
  }
}

#loading-bar {
  @include independent(#fff, 1100);
  @include size(100%, 100vh);
  @include flex-layout(row, center, center);
  position: fixed;

  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: #4285f4;
    }
    25% {
      stroke: #de3e35;
    }
    50% {
      stroke: #f7c223;
    }
    75% {
      stroke: #1b9a59;
    }
    100% {
      stroke: #4285f4;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }
}

#menu-window {
  @include size(100%, 100vh);
  @include flex-layout(column, center, center);

  position: fixed;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;

  padding: 200px 450px;

  .menu-window-wrap {
    @include size(100%, 100%);
    @include flex-layout(column, center, center);

    @include phone-width() {
      margin-top: 100px;
      overflow-y: scroll;
    }
  }

  .top {
    @include flex-layout(row, center, center);
    width: 100%;
    flex: 9;

    > :nth-child(n) {
      flex: 1;
      height: 100%;
    }

    .menu-block {
      $symbol-size: 20px;

      .main-title {
        position: relative;
        font-size: 24px;
        color: #525f6b;

        .symbol {
          $symbol-frame-value: 20px;
          $height: 20px;
          @include independent(transparent);
          @include size($symbol-frame-value, $symbol-frame-value);
          top: calc(50% - (#{$symbol-frame-value} / 2));
          right: 0px;
          display: none;

          &::before {
            @include independent(#525f6b);
            width: 100%;
            height: 4px;
            content: '';
            top: calc(50% - (4px / 2));
          }

          &::after {
            @include independent(#525f6b);
            width: 4px;
            height: 100%;
            content: '';
            left: calc(50% - (4px / 2));
          }

          @include phone-width() {
            display: inline-block;
          }
        }
      }

      .sub-title {
        font-size: 20px;
      }

      .option {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;

        .bg-circle {
          $circle-radius: 40px;
          @include size($circle-radius, $circle-radius);

          left: 100px;

          svg {
            @include size($circle-radius, $circle-radius);
          }
        }

        > p {
          font-size: 20px;
          margin-right: 10px;
        }

        > svg {
          @include size($symbol-size, $symbol-size);
        }

        &:hover {
          .bg-circle {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    @include phone-width() {
      // @include flex-layout(column, flex-start, center);
      // flex-wrap: wrap;
      flex: unset;
      display: block;

      // overflow-y: scroll;
      // margin-top: 100px;

      > :nth-child(n) {
        flex: none;
        margin: 0px auto;
        margin-bottom: 30px;
        height: auto;
        width: 65%;
      }
    }
  }

  .bottom {
    @include flex-layout(row, center, center);
    width: 100%;
    flex: 1;

    .line-block {
      height: 100%;
      flex: 5;
      margin-right: 50px;
      position: relative;

      &::before {
        @include independent(black);
        @include size(100%, 1px);
        content: '';
        top: 50%;
      }

      @include phone-width() {
        display: none;
      }
    }

    @include phone-width() {
      flex: unset;
    }
  }

  @include phone-width() {
    padding: 0px 0px;
  }
}

.social-media-block {
  @include flex-layout(row, center, center);
  height: 100%;
  flex: 1;

  .social-media-symbol {
    $symbol-border-size: 60px;
    $symbol-font-size: 30px;
    @include flex-layout(row, center, center);
    @include size($symbol-border-size, $symbol-border-size);
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    font-size: $symbol-font-size;
    margin-right: 8px;
    transition: all 0.15s ease-out;
    &:hover {
      color: #116198;
      border-color: #116198;
    }
  }
}

$menu-height-pc: 20px;
$menu-height-phone: 14px;
$menu-width-pc: 35px;
$menu-width-phone: 20px;

#menu-button {
  $menu-right: (
    pc: 15%,
    phone: 5%,
  );

  $ham-width: 2px;
  $line-1-delay: 1s;
  $line-2-delay: 1.15s;
  $line-3-delay: 1.3s;

  @include size($menu-width-pc, $menu-height-pc);
  @include flex-layout(column, space-between, flex-end);
  position: fixed;
  z-index: 1001;
  cursor: pointer;
  top: 35px;
  right: map-get($menu-right, pc);

  :nth-child(n) {
    @include size(100%, $ham-width);
    position: relative;
    right: 0px;
    transform-origin: 19px center;
    transition: width 0.15s linear;

    &::before {
      @include size(100%, $ham-width);
      @include independent(black);
      content: '';
    }

    @include phone-width() {
      transform-origin: 12px center;
    }
  }

  :nth-child(1) {
    animation: open-line-1-pc 0.75s linear forwards;
    &::before {
      animation: menu-line-anim 2s $line-1-delay linear infinite;
    }

    @include phone-width() {
      animation: open-line-1-phone 0.75s linear forwards;
    }
  }

  :nth-child(2) {
    animation: open-line-2-pc 0.75s linear forwards;
    &::before {
      animation: menu-line-anim 2s $line-2-delay linear infinite;
    }

    @include phone-width() {
      animation: open-line-2-phone 0.75s linear forwards;
    }
  }

  :nth-child(3) {
    animation: open-line-3-pc 0.75s linear forwards;
    &::before {
      animation: menu-line-anim 2s $line-3-delay linear infinite;
    }

    @include phone-width() {
      animation: open-line-3-phone 0.75s linear forwards;
    }
  }

  &:hover {
    :nth-child(2) {
      @include size(80%, 2px);
    }
  }

  @include phone-width() {
    @include size($menu-width-phone, $menu-height-phone);
    right: map-get($menu-right, phone);
  }

  /* animation keyframes --------> */
  @keyframes menu-line-anim {
    0% {
      opacity: 1;
      left: auto;
      right: 0;
      width: 100%;
    }

    25% {
      opacity: 0;
      left: auto;
      right: 0;
      width: 0%;
    }

    26% {
      opacity: 0;
      left: 0;
      right: auto;
      width: 0%;
    }

    50%,
    100% {
      opacity: 1;
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  @keyframes open-line-1-pc {
    0% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * 1)) rotateZ(45deg);
    }

    70% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * 1)) rotateZ(0deg);
    }

    100% {
      transform: translateY(0px) rotateZ(0deg);
    }
  }

  @keyframes open-line-2-pc {
    0% {
      opacity: 0;
    }

    69% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes open-line-3-pc {
    0% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * -1)) rotateZ(-45deg);
    }

    70% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * -1)) rotateZ(0deg);
    }

    100% {
      transform: translateY(0px) rotateZ(0deg);
    }
  }

  @keyframes open-line-1-phone {
    0% {
      transform: translateY(calc(#{$menu-height-phone} / 2 * 1)) rotateZ(45deg);
    }

    70% {
      transform: translateY(calc(#{$menu-height-phone} / 2 * 1)) rotateZ(0deg);
    }

    100% {
      transform: translateY(0px) rotateZ(0deg);
    }
  }

  @keyframes open-line-2-phone {
    0% {
      opacity: 0;
    }

    69% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes open-line-3-phone {
    0% {
      transform: translateY(calc(#{$menu-height-phone} / 2 * (-1))) rotateZ(-45deg);
    }

    70% {
      transform: translateY(calc(#{$menu-height-phone} / 2 * (-1))) rotateZ(0deg);
    }

    100% {
      transform: translateY(0px) rotateZ(0deg);
    }
  }
  /* <-------- animation keyframes */
}

#menu-button.show {
  :nth-child(n) {
    &::before {
      animation: none;
    }
  }

  :nth-child(1) {
    animation: line-1-pc 0.75s linear forwards;
  }

  :nth-child(2) {
    animation: line-2-pc 0.75s linear forwards;
  }

  :nth-child(3) {
    animation: line-3-pc 0.75s linear forwards;
  }

  @keyframes line-1-pc {
    0% {
      transform: translateY(0px) rotateZ(0deg);
    }

    30% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * 1)) rotateZ(0deg);
    }

    100% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * 1)) rotateZ(45deg);
    }
  }

  @keyframes line-2-pc {
    0% {
      opacity: 1;
    }

    30% {
      opacity: 1;
    }

    31% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes line-3-pc {
    0% {
      transform: translateY(0px) rotateZ(0deg);
    }

    30% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * -1)) rotateZ(0deg);
    }

    100% {
      transform: translateY(calc(#{$menu-height-pc} / 2 * -1)) rotateZ(-45deg);
    }
  }

  @include phone-width() {
    :nth-child(1) {
      animation: line-1-phone 0.75s linear forwards;
    }

    :nth-child(2) {
      animation: line-2-phone 0.75s linear forwards;
    }

    :nth-child(3) {
      animation: line-3-phone 0.75s linear forwards;
    }

    @keyframes line-1-phone {
      0% {
        transform: translateY(0px) rotateZ(0deg);
      }

      30% {
        transform: translateY(calc(#{$menu-height-phone} / 2 * 1)) rotateZ(0deg);
      }

      100% {
        transform: translateY(calc(#{$menu-height-phone} / 2 * 1)) rotateZ(45deg);
      }
    }

    @keyframes line-2-phone {
      0% {
        opacity: 1;
      }

      30% {
        opacity: 1;
      }

      31% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes line-3-phone {
      0% {
        transform: translateY(0px) rotateZ(0deg);
      }

      30% {
        transform: translateY(calc(#{$menu-height-phone} / 2 * -1)) rotateZ(0deg);
      }

      100% {
        transform: translateY(calc(#{$menu-height-phone} / 2 * -1)) rotateZ(-45deg);
      }
    }
  }
}

nav {
  @include size(100%, auto);
  @include flex-layout(row, space-between, center);
  position: relative;

  #home {
    @include independent(transparent);
    @include size(160px, 54px);
    cursor: pointer;
    top: 35px;
    left: 18%;

    img {
      @include size(100%, 100%);
    }

    @include phone-width() {
      @include size(98px, 32px);
      left: 6%;
    }
  }
}

.footer {
  position: relative;
  background-color: #ffffff;

  #top-point {
    $width: 50px;
    $height: 100px;
    @include size($width, $height);
    @include independent(transparent);
    @include flex-layout(column, flex-start, center);
    top: calc(0px - (#{$height} / 2));
    left: calc(50% - (#{$width} / 2));

    #point {
      @include size(1px, 75px);

      opacity: 0.75;
      background-color: black;
      margin-bottom: 10px;

      &::before {
        $width: 1px;
        @include size($width, 10px);
        @include independent(black);
        content: '';
        top: 0px;
        left: calc(50% - (#{$width} / 2));
        transform-origin: top center;
        transform: rotateZ(25deg);
      }
    }

    P {
      text-align: center;
      line-height: 1;
    }

    @include phone-width() {
      $width: 50px;
      left: auto;
      top: calc(50% - (#{$height} / 2));
      right: calc(#{$width} / 2);
    }
  }

  .top {
    @include size(100%, auto);
    @include flex-layout(row, center, flex-start);
    padding: 90px 0px 25px 0px;

    #special-layout {
      @include flex-layout(column, flex-start, flex-start);
    }

    .social-media-block {
      @include flex-layout(row, flex-start, flex-start);

      .social-media-symbol {
        $symbol-border-size: 32px;
        $symbol-font-size: 18px;
        @include size($symbol-border-size, $symbol-border-size);
        font-size: $symbol-font-size;
      }

      @include phone-width() {
        order: -1;
        margin-bottom: 5px;
      }
    }

    @include phone-width() {
      @include flex-layout(column, center, flex-start);
      padding: 20px;
      flex-wrap: wrap;
      height: auto;
    }
  }

  .meddle {
  }

  .bottom {
    @include size(100%, 22px);
    svg {
      @include size(100%, auto);
    }
  }

  .footer-content {
    @include size(auto, auto);
    display: inline-block;
    margin-right: 100px;
    padding: 10px;

    .title {
      font-size: 18px;
    }

    .main-link {
      font-size: 16px;
    }

    .sub-title {
      font-size: 16px;
    }

    .sub-link {
      font-size: 14px;
      padding-left: 18px;
    }

    @include phone-width() {
      width: 100%;
    }
  }

  .link {
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
      transition: 0.2s linear;

      &:hover {
        color: gray;
      }
    }
  }
}

#copy-right {
  display: inline-block;
  margin: 10px 0px 0px 30px;
  padding: 5px;

  @include phone-width() {
    margin: 0px;
    padding: 0px 0px 0px 30px;
    font-size: 12px;
  }
}

.frame {
  overflow: hidden;
}

// configure for font
.tch-r {
  font-weight: 300;
  // font-family: 'Bosch Sans CHS Regular';
}
.tch-b {
  font-weight: 500;
  // font-family: 'Bosch Sans CHS Bold';
}

.eng-bl {
  font-family: 'Bosch Sans Black';
}
.eng-bl-l {
  font-family: 'Bosch Sans BlackItalic';
}
.eng-b {
  font-family: 'Bosch Sans Bold';
}
.eng-b-l {
  font-family: 'Bosch Sans BoldItalic';
}
.eng-l {
  font-family: 'Bosch Sans Light';
}
.eng-l-l {
  font-family: 'Bosch Sans LightItalic';
}
.eng-m {
  font-family: 'Bosch Sans Medium';
}
.eng-m-l {
  font-family: 'Bosch Sans MediumItalic';
}
.eng-r {
  font-family: 'Bosch Sans Regular';
}
.eng-r-i {
  font-family: 'Bosch Sans RegularItalic';
}
.title {
  font-size: 64px;
}

.sub-title {
  font-size: 24px;
}

.bottom-line {
  position: relative;
  display: inline-block;
  line-height: 2.75;

  &::after {
    @include independent(transparent);
    @include size(100%, 4px);
    content: '';
    background-color: #000000;
    left: 0px;
    bottom: 0px;
    z-index: 10;
  }
}

// Btn for more
.btn-more {
  @include flex-layout(row, center, center);
  position: relative;
  display: inline-flex;
  cursor: pointer;

  .bg-circle {
    $circle-radius: 150px;
    @include independent(transparent);
    @include size($circle-radius, $circle-radius);

    cursor: auto;
    pointer-events: none;
    left: calc((#{$circle-radius} / 2 * (-1)) + 10px);
    z-index: 1;
    transform: scale(0.15);
    opacity: 0;

    transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);

    svg {
      @include size($circle-radius, $circle-radius);

      circle {
        fill: rgb(143, 143, 143);
      }
    }
  }

  .arrow_wrap {
    margin-right: 20px;

    > svg {
      z-index: 2;
    }
  }

  > p {
    z-index: 2;
    display: inline-block;
    transition: all 0.15s linear;
  }

  &.productHover {
    .bg-circle {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover {
    .bg-circle {
      opacity: 1;
      transform: scale(1);
    }
  }
}

$point-move-unit: -30px;
@keyframes point_move_LT {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  39% {
    opacity: 0;
    transform: translate(0px, 0px);
  }

  40% {
    opacity: 0;
    transform: translate($point-move-unit, $point-move-unit);
  }

  41% {
    opacity: 0;
    transform: translate($point-move-unit, $point-move-unit);
  }

  100% {
    opacity: 1;
    transform: translateX(0px, 0px);
  }
}
@keyframes point_move_RT {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  39% {
    opacity: 0;
    transform: translate(0px, 0px);
  }

  40% {
    opacity: 0;
    transform: translate(40px, -40px);
  }

  41% {
    opacity: 0;
    transform: translate(40px, -40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px, 0px);
  }
}

.btn-more-point-move-LT {
  &:hover {
    .arrow_wrap {
      > svg {
        animation: point_move_LT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
}
.btn-more-point-move-RT {
  &:hover {
    .arrow_wrap {
      > svg {
        animation: point_move_RT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
}

.btn-more-point-scale {
  .arrow_wrap {
    @include flex-layout(column, center, flex-start);
    z-index: 10;
  }

  &:hover {
    .arrow_wrap {
      animation: anim-point-scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
      transform: scale(0.75);
    }
  }
}
@keyframes anim-point-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}

.btn-more-arrow-path-B-2-W {
  &:hover {
    .arrow_path {
      animation: anim_arrow_path_B_2_W 0.5s cubic-bezier(0.25, 1, 0.5, 1);
      fill: white;
    }
  }
}
@keyframes anim_arrow_path_B_2_W {
  0% {
    fill: black;
  }

  100% {
    fill: white;
  }
}

// Btn - color for background
.btn-more-color-red {
  .bg-circle {
    svg {
      circle {
        fill: $color_red;
      }
    }
  }
}
.btn-more-color-cyan-blue {
  .bg-circle {
    svg {
      circle {
        fill: $color_cyan_blue;
      }
    }
  }
}
.btn-more-color-lake-blue {
  .bg-circle {
    svg {
      circle {
        fill: $color_lake_blue;
      }
    }
  }
}
.btn-more-color-orange {
  .bg-circle {
    svg {
      circle {
        fill: $color_orange;
      }
    }
  }
}
.btn-more-color-black {
  .bg-circle {
    svg {
      circle {
        fill: $color_main;
      }
    }
  }
}
.btn-more-color-apple-green {
  .bg-circle {
    svg {
      circle {
        fill: $color_apple_green;
      }
    }
  }
}
.btn-more-color-fuchsia {
  .bg-circle {
    svg {
      circle {
        fill: #b90376;
      }
    }
  }
}
.btn-more-color-turquoise {
  .bg-circle {
    svg {
      circle {
        fill: #00a8b0;
      }
    }
  }
}

// Btn - direction for move - R
.btn-more-hover-right-5 {
  &:hover {
    > p {
      transform: translateX(5px);
    }
  }
}
.btn-more-hover-right-10 {
  &:hover {
    > p {
      transform: translateX(10px);
    }
  }
}
.btn-more-hover-right-15 {
  &:hover {
    > p {
      transform: translateX(15px);
    }
  }
}
.btn-more-hover-right-20 {
  &:hover {
    > p {
      transform: translateX(20px);
    }
  }
}
.btn-more-hover-right-30 {
  &:hover {
    > p {
      transform: translateX(30px);
    }
  }
}
.btn-more-hover-right-40 {
  &:hover {
    > p {
      transform: translateX(40px);
    }
  }
}
.btn-more-hover-right-50 {
  &:hover {
    > p {
      transform: translateX(50px);
    }
  }
}

// Btn - direction for move - L
.btn-more-hover-left-5 {
  &:hover {
    > p {
      transform: translateX(-5px);
    }
  }
}
.btn-more-hover-left-10 {
  &:hover {
    > p {
      transform: translateX(-10px);
    }
  }
}
.btn-more-hover-left-15 {
  &:hover {
    > p {
      transform: translateX(-15px);
    }
  }
}
.btn-more-hover-left-20 {
  &:hover {
    > p {
      transform: translateX(-20px);
    }
  }
}
.btn-more-hover-left-30 {
  &:hover {
    > p {
      transform: translateX(-30px);
    }
  }
}
.btn-more-hover-left-40 {
  &.productHover {
    > p {
      transform: translateX(-40px);

      @include phone-width() {
        transform: translateX(-20px);
      }
    }
  }

  &:hover {
    > p {
      transform: translateX(-40px);

      @include phone-width() {
        transform: translateX(-20px);
      }
    }
  }
}
.btn-more-hover-left-50 {
  &.productHover {
    > p {
      transform: translateX(-50px);

      @include phone-width() {
        transform: translateX(-25px);
      }
    }
  }

  &:hover {
    > p {
      transform: translateX(-50px);

      @include phone-width() {
        transform: translateX(-25px);
      }
    }
  }
}

// Btn - move style
.btn-more-move-style-1 {
  > p {
    transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

.max-h-100 {
  $value: 100px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-95 {
  $value: 95px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-90 {
  $value: 90px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-85 {
  $value: 85px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-80 {
  $value: 80px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-75 {
  $value: 75px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-70 {
  $value: 70px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-65 {
  $value: 65px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-55 {
  $value: 55px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}

.max-h-35 {
  $value: 35px;
  height: $value;
  :first-child {
    max-height: $value;
    overflow: hidden;
  }
}
