@import '../common/style/globalconfigure';
@import '../common/style/_globalstyle.scss';
@import '../common/style/_font.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  //@include border();
}

.main-container {
  background: rgb(214, 216, 217);
  background: linear-gradient(
    90deg,
    rgba(214, 216, 217, 1) 3%,
    rgba(253, 251, 251, 1) 41%,
    rgba(219, 221, 222, 1) 75%,
    rgba(214, 216, 217, 1) 100%
  );
}

#loading-bar {
  @include independent(#fff, 1100);
  @include size(100%, 100vh);
  @include flex-layout(row, center, center);
  position: fixed;

  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: #4285f4;
    }
    25% {
      stroke: #de3e35;
    }
    50% {
      stroke: #f7c223;
    }
    75% {
      stroke: #1b9a59;
    }
    100% {
      stroke: #4285f4;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }
}

#menu-window {
  @include size(100%, 100vh);
  @include independent(rgba($color: black, $alpha: 0.5), 1000);
  position: fixed;
  display: none;

  #menu-window-close {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
  }
}

nav {
  @include size(100%, auto);
  @include flex-layout(row, space-between, center);
  position: relative;

  #home {
    @include independent(transparent);
    top: 35px;
    left: 300px;
  }

  #menu {
    $menu-height: 20px;
    $ham-width: 2px;
    @include size(35px, $menu-height);
    @include independent(transparent, 1001);
    @include flex-layout(row, space-around, center);
    cursor: pointer;
    top: 35px;
    right: 300px;

    span {
      &::before {
        @include independent(#000);
        @include size(100%, $ham-width);
        left: 0;
        top: 0;
        transition: width 0.35s 0.45s;
      }

      &::after {
        @include independent(#000);
        @include size(100%, $ham-width);
        right: 0;
        bottom: 0;
        transition: width 0.35s 0.45s;
      }
    }

    &::before {
      @include independent(#000);
      @include size(100%, $ham-width);
      left: 0;
      top: calc((#{$menu-height} / 2) - ($ham-width / 2));
      transform-origin: center center;
      transition: 0.45s cubic-bezier(0.33, 1, 0.68, 1);
    }

    &::after {
      @include independent(#000);
      @include size(100%, $ham-width);
      right: 0;
      bottom: calc((#{$menu-height} / 2) - ($ham-width / 2));
      transform-origin: center center;
      transition: 0.45s cubic-bezier(0.33, 1, 0.68, 1);
    }
  }

  #menu.show {
    span {
      &::before {
        right: 0;
        width: 0;
        transition: width 0.8s;
      }

      &::after {
        width: 0;
        transition: width 0.8s;
      }
    }

    &::before {
      transform: rotate(-45deg);
      transition: transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
    }

    &::after {
      transform: rotate(45deg);
      transition: transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
    }
  }
}

.slogan {
  @include size(100%, 330px);
  @include flex-layout(row, center, center);
  margin-top: 155px;
  background: rgb(226, 0, 21);
  background: linear-gradient(90deg, rgba(226, 0, 21, 1) 0%, rgba(185, 2, 118, 1) 100%);

  .slogan-wrap {
    @include size(500px, auto);
    @include flex-layout(column, center, center);
    color: #fff;

    > :first-child {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px;
    }

    > :last-child {
      font-size: 60px;
      line-height: 1;
    }
  }

  .text-char {
    margin: 0;
    display: inline-block;
    line-height: 1;
  }
}

.description {
  @include size(100%, 500px);
}

.proxy {
  @include size(100%, 500px);
}

.footer {
  background-color: #ffffff;

  .top {
    @include size(100%, auto);
    @include flex-layout(row, center, flex-start);
    padding: 100px 0px 15px 0px;

    @include phone-width() {
      flex-wrap: wrap;
      height: auto;
    }
  }

  .meddle {
  }

  .bottom {
    @include size(100%, 22px);
    svg {
      @include size(100%, auto);
    }
  }

  .footer-content {
    @include size(auto, auto);
    display: inline-block;
    margin-right: 100px;
    padding: 10px;

    .title {
      font-size: 18px;
    }

    .main-link {
      font-size: 16px;
    }

    .sub-title {
      font-size: 16px;
    }

    .sub-link {
      font-size: 14px;
      padding-left: 18px;
    }

    @include phone-width() {
      width: 100%;
    }
  }

  .link {
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
      transition: 0.2s linear;

      &:hover {
        color: gray;
      }
    }
  }
}

.text-effect {
  display: inline-block;
  overflow: hidden;
}
