@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans TC', sans-serif, Arial !important;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #1a1a1a;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h1 {
  font-size: 2.8rem;
}

h1 {
  font-size: 2.4rem;
}

h1 {
  font-size: 2.2rem;
}

h1 {
  font-size: 2rem;
}

h1 {
  font-size: 1.8rem;
}

b {
  font-weight: 500;
}

ol,
ul {
  padding-left: 1.7rem;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  position: relative;
  background: #d6d8d9;
  background: -webkit-gradient(linear, left top, right top, from(#d6d8d9), color-stop(50%, rgba(253, 251, 251, 0)), to(#d6d8d9));
  background: linear-gradient(90deg, #d6d8d9 0%, rgba(253, 251, 251, 0) 50%, #d6d8d9 100%);
}

@media all and (max-width: 479px) {
  .main-container {
    background: #d6d8d9;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #d6d8d9), color-stop(60%, #fdfbfb));
    background: linear-gradient(90deg, #d6d8d9 10%, #fdfbfb 60%);
  }
}

#loading-bar {
  position: absolute;
  content: '';
  background-color: #fff;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

#loading-bar .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

#loading-bar .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

#menu-window {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  padding: 200px 450px;
}

#menu-window .menu-window-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 479px) {
  #menu-window .menu-window-wrap {
    margin-top: 100px;
    overflow-y: scroll;
  }
}

#menu-window .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

#menu-window .top > :nth-child(n) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#menu-window .top .menu-block .main-title {
  position: relative;
  font-size: 24px;
  color: #525f6b;
}

#menu-window .top .menu-block .main-title .symbol {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: calc(50% - (20px / 2));
  right: 0px;
  display: none;
}

#menu-window .top .menu-block .main-title .symbol::before {
  position: absolute;
  content: '';
  background-color: #525f6b;
  z-index: 1;
  width: 100%;
  height: 4px;
  content: '';
  top: calc(50% - (4px / 2));
}

#menu-window .top .menu-block .main-title .symbol::after {
  position: absolute;
  content: '';
  background-color: #525f6b;
  z-index: 1;
  width: 4px;
  height: 100%;
  content: '';
  left: calc(50% - (4px / 2));
}

@media all and (max-width: 479px) {
  #menu-window .top .menu-block .main-title .symbol {
    display: inline-block;
  }
}

#menu-window .top .menu-block .sub-title {
  font-size: 20px;
}

#menu-window .top .menu-block .option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

#menu-window .top .menu-block .option .bg-circle {
  width: 40px;
  height: 40px;
  left: 100px;
}

#menu-window .top .menu-block .option .bg-circle svg {
  width: 40px;
  height: 40px;
}

#menu-window .top .menu-block .option > p {
  font-size: 20px;
  margin-right: 10px;
}

#menu-window .top .menu-block .option > svg {
  width: 20px;
  height: 20px;
}

#menu-window .top .menu-block .option:hover .bg-circle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media all and (max-width: 479px) {
  #menu-window .top {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    display: block;
  }
  #menu-window .top > :nth-child(n) {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0px auto;
    margin-bottom: 30px;
    height: auto;
    width: 65%;
  }
}

#menu-window .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#menu-window .bottom .line-block {
  height: 100%;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-right: 50px;
  position: relative;
}

#menu-window .bottom .line-block::before {
  position: absolute;
  content: '';
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 1px;
  content: '';
  top: 50%;
}

@media all and (max-width: 479px) {
  #menu-window .bottom .line-block {
    display: none;
  }
}

@media all and (max-width: 479px) {
  #menu-window .bottom {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

@media all and (max-width: 479px) {
  #menu-window {
    padding: 0px 0px;
  }
}

.social-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social-media-block .social-media-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  margin-right: 8px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.social-media-block .social-media-symbol:hover {
  color: #116198;
  border-color: #116198;
}

#menu-button {
  width: 35px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  z-index: 1001;
  cursor: pointer;
  top: 35px;
  right: 15%;
  /* animation keyframes --------> */
  /* <-------- animation keyframes */
}

#menu-button :nth-child(n) {
  width: 100%;
  height: 2px;
  position: relative;
  right: 0px;
  -webkit-transform-origin: 19px center;
          transform-origin: 19px center;
  -webkit-transition: width 0.15s linear;
  transition: width 0.15s linear;
}

#menu-button :nth-child(n)::before {
  width: 100%;
  height: 2px;
  position: absolute;
  content: '';
  background-color: black;
  z-index: 1;
  content: '';
}

@media all and (max-width: 479px) {
  #menu-button :nth-child(n) {
    -webkit-transform-origin: 12px center;
            transform-origin: 12px center;
  }
}

#menu-button :nth-child(1) {
  -webkit-animation: open-line-1-pc 0.75s linear forwards;
          animation: open-line-1-pc 0.75s linear forwards;
}

#menu-button :nth-child(1)::before {
  -webkit-animation: menu-line-anim 2s 1s linear infinite;
          animation: menu-line-anim 2s 1s linear infinite;
}

@media all and (max-width: 479px) {
  #menu-button :nth-child(1) {
    -webkit-animation: open-line-1-phone 0.75s linear forwards;
            animation: open-line-1-phone 0.75s linear forwards;
  }
}

#menu-button :nth-child(2) {
  -webkit-animation: open-line-2-pc 0.75s linear forwards;
          animation: open-line-2-pc 0.75s linear forwards;
}

#menu-button :nth-child(2)::before {
  -webkit-animation: menu-line-anim 2s 1.15s linear infinite;
          animation: menu-line-anim 2s 1.15s linear infinite;
}

@media all and (max-width: 479px) {
  #menu-button :nth-child(2) {
    -webkit-animation: open-line-2-phone 0.75s linear forwards;
            animation: open-line-2-phone 0.75s linear forwards;
  }
}

#menu-button :nth-child(3) {
  -webkit-animation: open-line-3-pc 0.75s linear forwards;
          animation: open-line-3-pc 0.75s linear forwards;
}

#menu-button :nth-child(3)::before {
  -webkit-animation: menu-line-anim 2s 1.3s linear infinite;
          animation: menu-line-anim 2s 1.3s linear infinite;
}

@media all and (max-width: 479px) {
  #menu-button :nth-child(3) {
    -webkit-animation: open-line-3-phone 0.75s linear forwards;
            animation: open-line-3-phone 0.75s linear forwards;
  }
}

#menu-button:hover :nth-child(2) {
  width: 80%;
  height: 2px;
}

@media all and (max-width: 479px) {
  #menu-button {
    width: 20px;
    height: 14px;
    right: 5%;
  }
}

@-webkit-keyframes menu-line-anim {
  0% {
    opacity: 1;
    left: auto;
    right: 0;
    width: 100%;
  }
  25% {
    opacity: 0;
    left: auto;
    right: 0;
    width: 0%;
  }
  26% {
    opacity: 0;
    left: 0;
    right: auto;
    width: 0%;
  }
  50%,
  100% {
    opacity: 1;
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes menu-line-anim {
  0% {
    opacity: 1;
    left: auto;
    right: 0;
    width: 100%;
  }
  25% {
    opacity: 0;
    left: auto;
    right: 0;
    width: 0%;
  }
  26% {
    opacity: 0;
    left: 0;
    right: auto;
    width: 0%;
  }
  50%,
  100% {
    opacity: 1;
    left: 0;
    right: auto;
    width: 100%;
  }
}

@-webkit-keyframes open-line-1-pc {
  0% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
  }
  70% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes open-line-1-pc {
  0% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
  }
  70% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@-webkit-keyframes open-line-2-pc {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open-line-2-pc {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes open-line-3-pc {
  0% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
  }
  70% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes open-line-3-pc {
  0% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
  }
  70% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@-webkit-keyframes open-line-1-phone {
  0% {
    -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
            transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
  }
  70% {
    -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
            transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes open-line-1-phone {
  0% {
    -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
            transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
  }
  70% {
    -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
            transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@-webkit-keyframes open-line-2-phone {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open-line-2-phone {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes open-line-3-phone {
  0% {
    -webkit-transform: translateY(calc(14px / 2 * (-1))) rotateZ(-45deg);
            transform: translateY(calc(14px / 2 * (-1))) rotateZ(-45deg);
  }
  70% {
    -webkit-transform: translateY(calc(14px / 2 * (-1))) rotateZ(0deg);
            transform: translateY(calc(14px / 2 * (-1))) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes open-line-3-phone {
  0% {
    -webkit-transform: translateY(calc(14px / 2 * (-1))) rotateZ(-45deg);
            transform: translateY(calc(14px / 2 * (-1))) rotateZ(-45deg);
  }
  70% {
    -webkit-transform: translateY(calc(14px / 2 * (-1))) rotateZ(0deg);
            transform: translateY(calc(14px / 2 * (-1))) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

#menu-button.show :nth-child(n)::before {
  -webkit-animation: none;
          animation: none;
}

#menu-button.show :nth-child(1) {
  -webkit-animation: line-1-pc 0.75s linear forwards;
          animation: line-1-pc 0.75s linear forwards;
}

#menu-button.show :nth-child(2) {
  -webkit-animation: line-2-pc 0.75s linear forwards;
          animation: line-2-pc 0.75s linear forwards;
}

#menu-button.show :nth-child(3) {
  -webkit-animation: line-3-pc 0.75s linear forwards;
          animation: line-3-pc 0.75s linear forwards;
}

@-webkit-keyframes line-1-pc {
  0% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
  30% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
  }
}

@keyframes line-1-pc {
  0% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
  30% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
            transform: translateY(calc(20px / 2 * 1)) rotateZ(45deg);
  }
}

@-webkit-keyframes line-2-pc {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line-2-pc {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes line-3-pc {
  0% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
  30% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
  }
}

@keyframes line-3-pc {
  0% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
  30% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
            transform: translateY(calc(20px / 2 * -1)) rotateZ(-45deg);
  }
}

@media all and (max-width: 479px) {
  #menu-button.show :nth-child(1) {
    -webkit-animation: line-1-phone 0.75s linear forwards;
            animation: line-1-phone 0.75s linear forwards;
  }
  #menu-button.show :nth-child(2) {
    -webkit-animation: line-2-phone 0.75s linear forwards;
            animation: line-2-phone 0.75s linear forwards;
  }
  #menu-button.show :nth-child(3) {
    -webkit-animation: line-3-phone 0.75s linear forwards;
            animation: line-3-phone 0.75s linear forwards;
  }
  @-webkit-keyframes line-1-phone {
    0% {
      -webkit-transform: translateY(0px) rotateZ(0deg);
              transform: translateY(0px) rotateZ(0deg);
    }
    30% {
      -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
              transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
    }
    100% {
      -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
              transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
    }
  }
  @keyframes line-1-phone {
    0% {
      -webkit-transform: translateY(0px) rotateZ(0deg);
              transform: translateY(0px) rotateZ(0deg);
    }
    30% {
      -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
              transform: translateY(calc(14px / 2 * 1)) rotateZ(0deg);
    }
    100% {
      -webkit-transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
              transform: translateY(calc(14px / 2 * 1)) rotateZ(45deg);
    }
  }
  @-webkit-keyframes line-2-phone {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    31% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes line-2-phone {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    31% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes line-3-phone {
    0% {
      -webkit-transform: translateY(0px) rotateZ(0deg);
              transform: translateY(0px) rotateZ(0deg);
    }
    30% {
      -webkit-transform: translateY(calc(14px / 2 * -1)) rotateZ(0deg);
              transform: translateY(calc(14px / 2 * -1)) rotateZ(0deg);
    }
    100% {
      -webkit-transform: translateY(calc(14px / 2 * -1)) rotateZ(-45deg);
              transform: translateY(calc(14px / 2 * -1)) rotateZ(-45deg);
    }
  }
  @keyframes line-3-phone {
    0% {
      -webkit-transform: translateY(0px) rotateZ(0deg);
              transform: translateY(0px) rotateZ(0deg);
    }
    30% {
      -webkit-transform: translateY(calc(14px / 2 * -1)) rotateZ(0deg);
              transform: translateY(calc(14px / 2 * -1)) rotateZ(0deg);
    }
    100% {
      -webkit-transform: translateY(calc(14px / 2 * -1)) rotateZ(-45deg);
              transform: translateY(calc(14px / 2 * -1)) rotateZ(-45deg);
    }
  }
}

nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav #home {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 160px;
  height: 54px;
  cursor: pointer;
  top: 35px;
  left: 18%;
}

nav #home img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 479px) {
  nav #home {
    width: 98px;
    height: 32px;
    left: 6%;
  }
}

.footer {
  position: relative;
  background-color: #ffffff;
}

.footer #top-point {
  width: 50px;
  height: 100px;
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(0px - (100px / 2));
  left: calc(50% - (50px / 2));
}

.footer #top-point #point {
  width: 1px;
  height: 75px;
  opacity: 0.75;
  background-color: black;
  margin-bottom: 10px;
}

.footer #top-point #point::before {
  width: 1px;
  height: 10px;
  position: absolute;
  content: '';
  background-color: black;
  z-index: 1;
  content: '';
  top: 0px;
  left: calc(50% - (1px / 2));
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
}

.footer #top-point P {
  text-align: center;
  line-height: 1;
}

@media all and (max-width: 479px) {
  .footer #top-point {
    left: auto;
    top: calc(50% - (100px / 2));
    right: calc(50px / 2);
  }
}

.footer .top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 90px 0px 25px 0px;
}

.footer .top #special-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .top .social-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .top .social-media-block .social-media-symbol {
  width: 32px;
  height: 32px;
  font-size: 18px;
}

@media all and (max-width: 479px) {
  .footer .top .social-media-block {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 479px) {
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}

.footer .bottom {
  width: 100%;
  height: 22px;
}

.footer .bottom svg {
  width: 100%;
  height: auto;
}

.footer .footer-content {
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 100px;
  padding: 10px;
}

.footer .footer-content .title {
  font-size: 18px;
}

.footer .footer-content .main-link {
  font-size: 16px;
}

.footer .footer-content .sub-title {
  font-size: 16px;
}

.footer .footer-content .sub-link {
  font-size: 14px;
  padding-left: 18px;
}

@media all and (max-width: 479px) {
  .footer .footer-content {
    width: 100%;
  }
}

.footer .link {
  cursor: pointer;
}

.footer .link a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer .link a:hover {
  color: gray;
}

#copy-right {
  display: inline-block;
  margin: 10px 0px 0px 30px;
  padding: 5px;
}

@media all and (max-width: 479px) {
  #copy-right {
    margin: 0px;
    padding: 0px 0px 0px 30px;
    font-size: 12px;
  }
}

.frame {
  overflow: hidden;
}

.tch-r {
  font-weight: 300;
}

.tch-b {
  font-weight: 500;
}

.eng-bl {
  font-family: 'Bosch Sans Black';
}

.eng-bl-l {
  font-family: 'Bosch Sans BlackItalic';
}

.eng-b {
  font-family: 'Bosch Sans Bold';
}

.eng-b-l {
  font-family: 'Bosch Sans BoldItalic';
}

.eng-l {
  font-family: 'Bosch Sans Light';
}

.eng-l-l {
  font-family: 'Bosch Sans LightItalic';
}

.eng-m {
  font-family: 'Bosch Sans Medium';
}

.eng-m-l {
  font-family: 'Bosch Sans MediumItalic';
}

.eng-r {
  font-family: 'Bosch Sans Regular';
}

.eng-r-i {
  font-family: 'Bosch Sans RegularItalic';
}

.title {
  font-size: 64px;
}

.sub-title {
  font-size: 24px;
}

.bottom-line {
  position: relative;
  display: inline-block;
  line-height: 2.75;
}

.bottom-line::after {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 100%;
  height: 4px;
  content: '';
  background-color: #000000;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.btn-more .bg-circle {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 150px;
  height: 150px;
  cursor: auto;
  pointer-events: none;
  left: calc((150px / 2 * (-1)) + 10px);
  z-index: 1;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn-more .bg-circle svg {
  width: 150px;
  height: 150px;
}

.btn-more .bg-circle svg circle {
  fill: #8f8f8f;
}

.btn-more .arrow_wrap {
  margin-right: 20px;
}

.btn-more .arrow_wrap > svg {
  z-index: 2;
}

.btn-more > p {
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn-more.productHover .bg-circle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-more:hover .bg-circle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes point_move_LT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

@keyframes point_move_LT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

@-webkit-keyframes point_move_RT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

@keyframes point_move_RT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

.btn-more-point-move-LT:hover .arrow_wrap > svg {
  -webkit-animation: point_move_LT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: point_move_LT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.btn-more-point-move-RT:hover .arrow_wrap > svg {
  -webkit-animation: point_move_RT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: point_move_RT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.btn-more-point-scale .arrow_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10;
}

.btn-more-point-scale:hover .arrow_wrap {
  -webkit-animation: anim-point-scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: anim-point-scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

@-webkit-keyframes anim-point-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes anim-point-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

.btn-more-arrow-path-B-2-W:hover .arrow_path {
  -webkit-animation: anim_arrow_path_B_2_W 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: anim_arrow_path_B_2_W 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  fill: white;
}

@-webkit-keyframes anim_arrow_path_B_2_W {
  0% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

@keyframes anim_arrow_path_B_2_W {
  0% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

.btn-more-color-red .bg-circle svg circle {
  fill: #e20015;
}

.btn-more-color-cyan-blue .bg-circle svg circle {
  fill: #00a8b0;
}

.btn-more-color-lake-blue .bg-circle svg circle {
  fill: #008ecf;
}

.btn-more-color-orange .bg-circle svg circle {
  fill: #ffb34a;
}

.btn-more-color-black .bg-circle svg circle {
  fill: #2c3238;
}

.btn-more-color-apple-green .bg-circle svg circle {
  fill: #78be20;
}

.btn-more-color-fuchsia .bg-circle svg circle {
  fill: #b90376;
}

.btn-more-color-turquoise .bg-circle svg circle {
  fill: #00a8b0;
}

.btn-more-hover-right-5:hover > p {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.btn-more-hover-right-10:hover > p {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.btn-more-hover-right-15:hover > p {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.btn-more-hover-right-20:hover > p {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.btn-more-hover-right-30:hover > p {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.btn-more-hover-right-40:hover > p {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.btn-more-hover-right-50:hover > p {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.btn-more-hover-left-5:hover > p {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.btn-more-hover-left-10:hover > p {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.btn-more-hover-left-15:hover > p {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.btn-more-hover-left-20:hover > p {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.btn-more-hover-left-30:hover > p {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.btn-more-hover-left-40.productHover > p {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

@media all and (max-width: 479px) {
  .btn-more-hover-left-40.productHover > p {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.btn-more-hover-left-40:hover > p {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

@media all and (max-width: 479px) {
  .btn-more-hover-left-40:hover > p {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.btn-more-hover-left-50.productHover > p {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media all and (max-width: 479px) {
  .btn-more-hover-left-50.productHover > p {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

.btn-more-hover-left-50:hover > p {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media all and (max-width: 479px) {
  .btn-more-hover-left-50:hover > p {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

.btn-more-move-style-1 > p {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  transition: -webkit-transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1), -webkit-transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
}

.max-h-100 {
  height: 100px;
}

.max-h-100 :first-child {
  max-height: 100px;
  overflow: hidden;
}

.max-h-95 {
  height: 95px;
}

.max-h-95 :first-child {
  max-height: 95px;
  overflow: hidden;
}

.max-h-90 {
  height: 90px;
}

.max-h-90 :first-child {
  max-height: 90px;
  overflow: hidden;
}

.max-h-85 {
  height: 85px;
}

.max-h-85 :first-child {
  max-height: 85px;
  overflow: hidden;
}

.max-h-80 {
  height: 80px;
}

.max-h-80 :first-child {
  max-height: 80px;
  overflow: hidden;
}

.max-h-75 {
  height: 75px;
}

.max-h-75 :first-child {
  max-height: 75px;
  overflow: hidden;
}

.max-h-70 {
  height: 70px;
}

.max-h-70 :first-child {
  max-height: 70px;
  overflow: hidden;
}

.max-h-65 {
  height: 65px;
}

.max-h-65 :first-child {
  max-height: 65px;
  overflow: hidden;
}

.max-h-55 {
  height: 55px;
}

.max-h-55 :first-child {
  max-height: 55px;
  overflow: hidden;
}

.max-h-35 {
  height: 35px;
}

.max-h-35 :first-child {
  max-height: 35px;
  overflow: hidden;
}

@font-face {
  font-family: 'Bosch Sans CHS Regular';
  src: url("../files/fonts/BoschSansCHS-Regular.eot");
  src: url("../files/fonts/BoschSansCHS-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSansCHS-Regular.woff") format("woff"), url("../files/fonts/BoschSansCHS-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans CHS Bold';
  src: url("../files/fonts/BoschSansCHS-Bold.eot");
  src: url("../files/fonts/BoschSansCHS-Bold.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSansCHS-Bold.woff") format("woff"), url("../files/fonts/BoschSansCHS-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Black';
  src: url("../files/fonts/BoschSans-Black.eot");
  src: url("../files/fonts/BoschSans-Black.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Black.woff") format("woff"), url("../files/fonts/BoschSans-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans BlackItalic';
  src: url("../files/fonts/BoschSans-BlackItalic.eot");
  src: url("../files/fonts/BoschSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-BlackItalic.woff") format("woff"), url("../files/fonts/BoschSans-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Bold';
  src: url("../files/fonts/BoschSans-Bold.eot");
  src: url("../files/fonts/BoschSans-Bold.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Bold.woff") format("woff"), url("../files/fonts/BoschSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans BoldItalic';
  src: url("../files/fonts/BoschSans-BoldItalic.eot");
  src: url("../files/fonts/BoschSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-BoldItalic.woff") format("woff"), url("../files/fonts/BoschSans-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Light';
  src: url("../files/fonts/BoschSans-Light.eot");
  src: url("../files/fonts/BoschSans-Light.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Light.woff") format("woff"), url("../files/fonts/BoschSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans LightItalic';
  src: url("../files/fonts/BoschSans-LightItalic.eot");
  src: url("../files/fonts/BoschSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-LightItalic.woff") format("woff"), url("../files/fonts/BoschSans-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Medium';
  src: url("../files/fonts/BoschSans-Medium.eot");
  src: url("../files/fonts/BoschSans-Medium.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Medium.woff") format("woff"), url("../files/fonts/BoschSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans MediumItalic';
  src: url("../files/fonts/BoschSans-MediumItalic.eot");
  src: url("../files/fonts/BoschSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-MediumItalic.woff") format("woff"), url("../files/fonts/BoschSans-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Regular';
  src: url("../files/fonts/BoschSans-Regular.eot");
  src: url("../files/fonts/BoschSans-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Regular.woff") format("woff"), url("../files/fonts/BoschSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans RegularItalic';
  src: url("../files/fonts/BoschSans-RegularItalic.eot");
  src: url("../files/fonts/BoschSans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-RegularItalic.woff") format("woff"), url("../files/fonts/BoschSans-RegularItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

.slogan {
  width: 100%;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 155px;
  background: #e20015;
  background: -webkit-gradient(linear, left top, right top, from(#e20015), to(#b90276));
  background: linear-gradient(90deg, #e20015 0%, #b90276 100%);
}

.slogan .slogan-wrap {
  width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.slogan .slogan-wrap > :first-child {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}

.slogan .slogan-wrap > :last-child {
  font-size: 60px;
  line-height: 1;
}

@media all and (max-width: 479px) {
  .slogan .slogan-wrap > :last-child {
    font-size: 30px;
  }
}

.slogan .vector {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  bottom: -40%;
  left: 50%;
}

.slogan .vector > svg {
  width: 14px;
  height: 207px;
}

@media all and (max-width: 479px) {
  .slogan .vector {
    bottom: -30%;
  }
  .slogan .vector > svg {
    width: 14px;
    height: 100px;
  }
}

@media all and (max-width: 479px) {
  .slogan {
    width: 100%;
    height: 200px;
    margin-top: 90px;
  }
}

.description {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 206px 0px 161px 0px;
}

.description .content-wrap {
  width: 730px;
  height: auto;
  margin-bottom: 164px;
  font-size: 20px;
  text-justify: distribute;
  text-align: center;
}

@media all and (max-width: 479px) {
  .description .content-wrap {
    width: 300px;
    height: auto;
    font-size: 18px;
    margin-bottom: 82px;
  }
}

.description .tip-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .tip-box .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.description .tip-box .left > :first-child {
  width: 391px;
  height: 498px;
}

.description .tip-box .left > :first-child img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 479px) {
  .description .tip-box .left > :first-child {
    width: 186px;
    height: 235px;
  }
}

@media all and (max-width: 479px) {
  .description .tip-box .left {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

.description .tip-box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  height: 100%;
}

.description .tip-box .right .title {
  font-size: 36px;
}

@media all and (max-width: 479px) {
  .description .tip-box .right .title {
    margin: 0px auto 45px auto;
    width: 75%;
    font-size: 24px;
    overflow: unset;
    white-space: normal;
    text-align: center;
  }
}

.description .tip-box .right .sub-title {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .tip-box .right .sub-title .line {
  width: 60%;
  height: 1px;
  background-color: black;
  margin-right: 10px;
}

@media all and (max-width: 479px) {
  .description .tip-box .right .sub-title .line {
    display: none;
  }
}

.description .tip-box .right .sub-title .text-effect {
  font-size: 20px;
}

@media all and (max-width: 479px) {
  .description .tip-box .right .sub-title .text-effect {
    width: auto;
  }
}

@media all and (max-width: 479px) {
  .description .tip-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 479px) {
  .description {
    padding: 100px 0px 105px 0px;
  }
}

.proxy {
  width: 100%;
  height: 887px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e20015;
  background: -webkit-gradient(linear, left top, right top, from(#e20015), to(#b90276));
  background: linear-gradient(90deg, #e20015 0%, #b90276 100%);
}

.proxy .left,
.proxy .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.proxy .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proxy .left .info {
  width: 510px;
  height: auto;
  color: #fff;
}

.proxy .left .info .title {
  line-height: 1.25;
  margin-bottom: 40px;
}

@media all and (max-width: 479px) {
  .proxy .left .info .title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.proxy .left .info .content {
  font-size: 20px;
  text-align: justify;
}

@media all and (max-width: 479px) {
  .proxy .left .info .content {
    font-size: 18px;
  }
}

@media all and (max-width: 479px) {
  .proxy .left .info {
    width: auto;
    height: auto;
    padding: 38px;
  }
}

.proxy .document {
  height: 100%;
}

@media all and (max-width: 479px) {
  .proxy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.text-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.text-char {
  margin: 0;
  display: inline-block;
  line-height: 1;
}
/*# sourceMappingURL=about.css.map */