@import '../common/style/globalconfigure';
@import '../common/style/_globalstyle.scss';
@import '../common/style/_font.scss';

.slogan {
  @include size(100%, 330px);
  @include flex-layout(row, center, center);
  margin-top: 155px;
  background: rgb(226, 0, 21);
  background: linear-gradient(90deg, rgba(226, 0, 21, 1) 0%, rgba(185, 2, 118, 1) 100%);

  .slogan-wrap {
    @include size(500px, auto);
    @include flex-layout(column, center, center);
    color: #fff;

    > :first-child {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px;
    }

    > :last-child {
      font-size: 60px;
      line-height: 1;
    }
  }
}

.description {
  @include size(100%, auto);
  @include flex-layout(column, center, center);
  padding: 206px 0px 161px 0px;

  .content-wrap {
    @include flex-layout(column, center, center);
    @include size(800px, 300px);
    margin-bottom: 164px;
    font-size: 20px;
  }

  .tip-box {
    @include flex-layout(row);

    .left {
      @include flex-layout(row, center, center);
      margin-right: 50px;
    }

    .right {
      @include flex-layout(column, center, flex-start);
      @include size(auto, 100%);

      > :first-child {
        font-size: 36px;
      }

      .sub-title {
        @include size(100%, 100%);
        @include flex-layout(row, center, center);
        .line {
          @include size(65%, 1px);
          background-color: black;
          margin-right: 10px;
        }

        .text-effect {
          @include size(30%, auto);
          font-size: 20px;
        }
      }
    }
  }
}

.proxy {
  @include size(100%, 887px);
  @include flex-layout(row, center, center);

  background: rgb(226, 0, 21);
  background: linear-gradient(90deg, rgba(226, 0, 21, 1) 0%, rgba(185, 2, 118, 1) 100%);

  .left,
  .right {
    flex: 1;
    height: 100%;
  }

  .left {
    @include flex-layout(column, center, center);
    .info {
      @include size(510px, auto);

      color: #fff;

      .title {
        line-height: 1.25;
        margin-bottom: 40px;
      }

      .content {
        font-size: 20px;
        text-align: justify;
        text-justify: inter-ideograph;
      }
    }
  }

  .document {
    height: 100%;
    //@include size(300px, auto);
  }
}

.text-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.text-char {
  margin: 0;
  display: inline-block;
  line-height: 1;
}
