@import '../common/style/globalconfigure';
@import '../common/style/_globalstyle.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  @include border();
  @include size(100vw, 80px);
  @include flex-layout(row, space-between, center);
  padding: 0 20px;
  position: relative;
  border: 1px solid black;

  .logo {
    @include border();
    display: inline-block;

    @include phone-width() {
      h1 {
        font-size: 30px;
      }
    }
  }
}

#loading-bar {
  @include independent(#fff, 1100);
  @include size(100%, 100vh);
  @include flex-layout(row, center, center);
  position: fixed;

  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: #4285f4;
    }
    25% {
      stroke: #de3e35;
    }
    50% {
      stroke: #f7c223;
    }
    75% {
      stroke: #1b9a59;
    }
    100% {
      stroke: #4285f4;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }
}

#menu-window {
  @include size(100%, 100vh);
  @include independent(rgba($color: black, $alpha: 0.5), 1000);
  position: fixed;
  display: none;

  #menu-window-close {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
  }
}

#menu {
  @include border();
  @include size(auto, 30px);
  @include independent(transparent);
  @include flex-layout(row, space-around, center);
  cursor: pointer;
  padding: 0 10px;
  top: 10px;
  right: 10px;

  @include phone-width() {
    top: 10px;
    right: 20px;
    @include size(auto, 50px);
  }
}

header {
  @include border();
  @include size(100%, 600px);
  @include flex-layout(row, center, center);

  > p {
    @include border();
    @include size(50%, 225px);
    transform: translateX(100px);
    opacity: 0;

    @include phone-width() {
      @include size(85%, 300px);
    }
  }
}

.button-container {
  @include border();
  @include size(100%, 600px);
  position: relative;
  .button {
    @include border();
    @include size(auto, 75px);
    @include flex-layout(row, center, center);
    position: relative;
    cursor: pointer;
    display: inline-flex;
    padding: 10px;

    .btn-text {
      display: inline-block;
      font-size: 20px;
      margin-right: 20px;
    }

    .btn-arrow {
      display: inline-block;
    }

    &::after {
      position: absolute;
      content: '';
      @include size(0%, 3px);
      background-color: black;
      bottom: 20%;
      left: 0;
      transform-origin: 0 0;
      z-index: 1;

      transition: all 0.2s linear;
    }

    &:hover {
      &::after {
        transform-origin: 0 0;
        width: 100%;
      }
    }
  }
}

#btn-about {
  position: absolute;
  top: 10%;
  left: 40%;
}

#btn-install {
  position: absolute;
  top: 30%;
  right: 40%;
}

#btn-issue {
  position: absolute;
  top: 50%;
  left: 40%;
}

#btn-contact {
  position: absolute;
  top: 70%;
  right: 40%;
}

.footer {
  @include border();
  @include size(100%, 200px);
  @include flex-layout(row, space-around, flex-start);
  padding: 10px;

  @include phone-width() {
    flex-wrap: wrap;
    height: auto;
  }
}

.footer-content {
  @include border();
  @include size(auto, auto);
  display: inline-block;
  padding: 10px;

  .title {
    font-weight: 700;
  }

  @include phone-width() {
    width: 100%;
  }
}

.box-3 {
  width: 100px;
  height: 100px;
  background-color: brown;
  background-position: center;
  background-size: cover;
  background-image: url('../images/dessert.jpg');
}

.link {
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
    transition: 0.2s linear;

    &:hover {
      color: gray;
    }
  }
}
