@import '../common/style/globalconfigure';
@import '../common/style/_globalstyle.scss';
@import '../common/style/_font.scss';

.slogan-wrap {
  @include independent(transparent);
  @include size(100%, 100vh);
  background: rgb(214, 216, 217);
  background: linear-gradient(
    90deg,
    rgba(214, 216, 217, 1) 0%,
    rgba(253, 251, 251, 1) 50%,
    rgba(214, 216, 217, 1) 100%
  );
  position: fixed;
  z-index: 1002;
  opacity: 1;

  #slogan {
    @include independent(transparent);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;

    .text-char {
      @include phone-width() {
        font-size: 20px;
      }
    }

    @include phone-width() {
      @include flex-layout(row, space-around, center);
      width: 70%;
    }
  }
}

#test-area {
  @include size(100%, 100vh);
  @include border();

  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  > svg {
    @include independent(transparent);
    @include size(345px, 90px);
    left: 42%;
    top: 7%;

    rect {
      transform: translate(0px, 0px);
    }
  }
}

header {
  @include size(100%, 100vh);
  @include flex-layout(row, center, center);
  position: relative;
  margin-bottom: 200px;

  #content {
    @include size(50%, 500px);
    @include flex-layout(row, space-between, center);

    .left {
      position: relative;
      z-index: 2;

      .title,
      .sub-title {
        line-height: 1;
      }

      .title {
        // height: 144px;

        div {
          transform-origin: bottom;
          // max-height: 144px;
          font-size: 144px;
          color: #e20015;
          @include phone-width() {
            max-height: 72px;
            font-size: 72px;
          }
        }

        > svg {
          @include size(100%, 100%);

          #mask {
            text {
              font-size: 144px;
              // font-family: 'Bosch Sans Black';
              font-family: '微軟正黑體';
              font-weight: bold;
              // font-weight: 700;
              line-height: 1;
              fill: #fff;
              transform: translateY(125px);
            }
          }

          #move-black {
            @include size(100%, 100%);
            fill: #e20015;
            transform: translateY(130px);
            animation: animate-move-block 1s 6.5s ease-in forwards;
          }

          @keyframes animate-move-block {
            to {
              transform: translateY(0px);
            }
          }

          #stroke-line {
            $animate-time: 3s;
            $delay-time: 4s;

            @include size(100%, 100%);
            transform: translate(12px, 13px);

            path {
              fill: none;
              stroke: #e20015;
              stroke-width: 3;
            }

            :nth-child(1) {
              stroke-dasharray: 360;
              stroke-dashoffset: 360;
            }

            :nth-child(2) {
              stroke-dasharray: 348;
              stroke-dashoffset: 348;
            }

            :nth-child(3) {
              stroke-dasharray: 477;
              stroke-dashoffset: 477;
            }

            :nth-child(4) {
              stroke-dasharray: 449;
              stroke-dashoffset: 449;
            }

            :nth-child(5) {
              stroke-dasharray: 578;
              stroke-dashoffset: 578;
            }
          }
        }

        @include phone-width() {
          height: 72px;
        }
      }

      .sub-title {
        font-size: 80px;
      }

      @include phone-width() {
        @include independent(transparent);
        left: 30px;
        bottom: 60px;

        .sub-title {
          font-size: 36px;
        }
      }
    }

    .right {
      @include flex-layout(row, center, center);
      @include size(200px, 100%);
      position: relative;

      #svg-gray-circle-block {
        @include size(600px, 600px);
        @include independent(transparent);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include phone-width() {
          @include size(350px, 350px);
        }
      }

      .pic-frame {
        @include independent(transparent);
        @include size(316px, 724px);
        @include flex-layout(row, center, center);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
          @include size(100%, 100%);
          // @include independent(transparent);
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          // position: relative;
          // z-index: 2;
        }

        @include phone-width() {
          @include size(195px, 416px);
          @include flex-layout(row, center, center);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      @include phone-width() {
        @include flex-layout(row, center, center);
        @include size(100vw, 450px);
        overflow: hidden;
      }
    }

    @include phone-width() {
      @include size(100%, 100%);
      @include flex-layout(column-reverse, center, center);
    }
  }

  #scroll-point {
    @include independent(transparent);
    right: 215px;
    bottom: 85px;
    transform: rotate(90deg);

    > P {
      display: inline-block;
      margin: 0;
      font-size: 12px;
    }

    #point {
      @include size(85px, 10px);
      display: inline-block;
      position: relative;
      margin-left: 10px;

      &::after {
        @include independent(transparent);
        @include size(100%, 1px);
        content: '';
        background-color: black;
        bottom: 50%;
        left: 0px;
      }

      &::before {
        @include independent(transparent);
        @include size(12px, 1px);
        content: '';
        background-color: black;
        right: 0px;
        bottom: 50%;
        transform-origin: right center;
        transform: rotate(25deg);
      }
    }

    @include phone-width() {
      right: -30px;
      bottom: 100px;
    }
  }

  @include phone-width() {
    margin-bottom: 45px;
  }
}

.products {
  @include size(100%, 750px);
  @include flex-layout(row, center, flex-start);
  padding: 0px 15%;
  margin-bottom: 100px;

  .introduction {
    flex: 7;
    height: 100%;
    position: relative;

    .intro {
      @include independent(transparent);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .intro-1 {
      $rect-size: 650px;
      @include size($rect-size, $rect-size);
      @include flex-layout(column, center, center);

      svg {
        @include size($rect-size, $rect-size);
        @include independent(transparent);
        top: 0;
        left: 0;
        z-index: 2;

        @include phone-width() {
          @include size(300px, 300px);
        }
      }

      .info {
        @include flex-layout(column, center, center);
        color: #fff;
        position: relative;
        z-index: 3;

        .title {
          font-size: 48px;

          @include phone-width() {
            font-size: 24px;
          }
        }

        .content {
          @include size(420px, auto);
          font-size: 30px;
          text-align: center;

          @include phone-width() {
            @include size(230px, auto);
            font-size: 16px;
          }
        }
      }

      @include phone-width() {
        @include size(300px, 300px);
      }
    }
  }

  .options {
    $main-symbol-size-pc: 50px;
    $main-symbol-size-phone: 25px;
    $sub-symbol-size-pc: 25px;
    $sub-symbol-size-phone: 14px;
    @include flex-layout(column, center, flex-end);
    flex: 5;
    height: 100%;

    // @include size(400px, 100%);

    .option {
      @include flex-layout(row, flex-end, center);
      margin-bottom: 25px;

      .main-title,
      .sub-title {
        display: inline-block;
      }

      .main-title {
        font-size: 64px;
        margin-right: 14px;

        @include phone-width() {
          font-size: 30px;
        }
      }

      .sub-title {
        font-size: 36px;
        margin-right: 14px;

        @include phone-width() {
          font-size: 18px;
        }
      }

      @include phone-width() {
        margin-bottom: 14px;
      }
    }

    .category-option {
      margin-right: 65px;

      div[name='category-title'] {
        font-size: 24px;
        @include phone-width() {
          font-size: 24px;
        }
      }

      @include phone-width() {
        margin-right: 35px;
      }
    }

    .large-option {
      $circle-radius-large-pc: 150px;
      $circle-radius-large-phone: 80px;

      .bg-circle {
        @include size($circle-radius-large-pc, $circle-radius-large-pc);
        left: auto;
        right: calc(
          (#{$circle-radius-large-pc} / 2 * (-1)) + (#{$main-symbol-size-pc} * 0.75 / 2) +
            ((#{$main-symbol-size-pc} - (#{$main-symbol-size-pc} * 0.75)) / 2)
        );

        svg {
          @include size($circle-radius-large-pc, $circle-radius-large-pc);
        }

        @include phone-width() {
          @include size($circle-radius-large-phone, $circle-radius-large-phone);
          right: calc(
            (#{$circle-radius-large-phone} / 2 * (-1)) + (#{$main-symbol-size-phone} * 0.75 / 2) +
              ((#{$main-symbol-size-phone} - (#{$main-symbol-size-phone} * 0.75)) / 2)
          );

          svg {
            @include size($circle-radius-large-phone, $circle-radius-large-phone);
          }
        }
      }

      > p {
        transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
      }

      .arrow_wrap {
        margin-right: 0px;

        > svg {
          @include size($main-symbol-size-pc, $main-symbol-size-pc);
          @include flex-layout(row, center, center);
          margin-right: 0px;
          display: inline-block;
          position: relative;
          z-index: 2;

          @include phone-width() {
            @include size($main-symbol-size-phone, $main-symbol-size-phone);
          }
        }
      }
    }

    .small-option {
      $circle-radius-small-pc: 105px;
      $circle-radius-small-phone: 65px;

      margin-right: 65px;

      .bg-circle {
        @include size($circle-radius-small-pc, $circle-radius-small-pc);
        left: auto;
        right: calc(
          (#{$circle-radius-small-pc} / 2 * (-1)) + (#{$sub-symbol-size-pc} * 0.75 / 2) +
            ((#{$sub-symbol-size-pc} - (#{$sub-symbol-size-pc} * 0.75)) / 2)
        );

        svg {
          @include size($circle-radius-small-pc, $circle-radius-small-pc);
        }

        @include phone-width() {
          @include size($circle-radius-small-phone, $circle-radius-small-phone);
          right: calc(
            (#{$circle-radius-small-phone} / 2 * (-1)) + (#{$sub-symbol-size-phone} * 0.75 / 2) +
              ((#{$sub-symbol-size-phone} - (#{$sub-symbol-size-phone} * 0.75)) / 2)
          );

          svg {
            @include size($circle-radius-small-phone, $circle-radius-small-phone);
          }
        }
      }

      > p {
        transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
      }

      .arrow_wrap {
        margin-right: 0px;

        > svg {
          @include size($sub-symbol-size-pc, $sub-symbol-size-pc);
          @include flex-layout(row, center, center);
          margin-right: 0px;
          display: inline-block;
          position: relative;
          z-index: 2;

          @include phone-width() {
            @include size($sub-symbol-size-phone, $sub-symbol-size-phone);
          }
        }
      }

      @include phone-width() {
        margin-right: 25px;
      }
    }
  }

  @include phone-width() {
    @include flex-layout(column-reverse, center, center);
    margin-bottom: 0px;
  }
}

.about-us {
  margin-bottom: 200px;

  .top {
    @include size(100%, 160px);
    text-align: center;
    margin-bottom: 75px;

    svg {
      @include size(100px, 100%);

      display: inline-block;

      line {
        stroke: #bfc0c2;
        stroke-width: 1;
      }

      circle {
        stroke: #bfc0c2;
        stroke-width: 2px;
        fill: #fff;
      }
    }
  }

  .bottom {
    @include size(auto, 550px);
    @include flex-layout(row, center, flex-start);

    #head {
      @include size(391px, 498px);
      @include independent(transparent);
      left: -500px;
      top: 120px;
      text-align: center;
      z-index: 0;

      img {
        @include independent(transparent);
        @include size(100%, 100%);
        bottom: 0px;
        left: 0px;
      }

      #about-head-anim-01 {
        @include independent(transparent);
        @include size(150px, 150px);
        bottom: -10px;
        left: 0px;
        z-index: 2;

        > svg {
          @include size(100%, 100%);
        }

        @include phone-width() {
          bottom: -10px;
          left: -50px;
        }
      }

      #about-head-anim-02 {
        @include independent(transparent);
        @include size(40px, 40px);
        top: 25px;
        right: 50px;

        > svg {
          @include size(100%, 100%);
        }

        @include phone-width() {
          @include size(20px, 20px);
          top: 40px;
          right: 20px;
        }
      }

      @include phone-width() {
        @include size(205px, 261px);
        left: -115px;
        top: 90px;
      }
    }

    #content {
      @include size(450px, 100%);
      text-align: center;
      font-size: 30px;
      position: relative;
      overflow: unset;

      .title {
        color: #525f6b;

        @include phone-width() {
          font-size: 36px;
        }
      }

      .sub-title {
        position: relative;
        display: inline-block;
        line-height: 2.5;
        margin-bottom: 55px;

        @include phone-width() {
          margin-bottom: 50px;
          font-size: 24px;
        }
      }

      .content {
        font-size: 30px;
        line-height: 1.25;

        @include phone-width() {
          font-size: 18px;
        }
      }

      .btn-block {
        @include size(100%, 200px);
        @include flex-layout(column, center, center);
        position: relative;

        .btn-more {
          $symbol-size-pc: 20px;
          $circle-radius-pc: 150px;
          $symbol-size-phone: 14px;
          $circle-radius-phone: 80px;

          // @include size(112px, 52px);
          @include independent(transparent);
          font-size: 30px;
          // left: calc(50% - (112px / 2));
          // bottom: calc(50% - (52px / 2));

          .bg-circle {
            @include size($circle-radius-pc, $circle-radius-pc);
            left: calc((#{$circle-radius-pc} / 2 * (-1)) + (#{$symbol-size-pc} * 0.75 / 2));

            svg {
              @include size($circle-radius-pc, $circle-radius-pc);
            }

            @include phone-width() {
              @include size($circle-radius-phone, $circle-radius-phone);
              left: calc((#{$circle-radius-phone} / 2 * (-1)) + (#{$symbol-size-phone} * 0.75 / 2));

              svg {
                @include size($circle-radius-phone, $circle-radius-phone);
              }
            }
          }

          .arrow_wrap {
            > svg {
              @include size($symbol-size-pc, $symbol-size-pc);

              @include phone-width() {
                @include size($symbol-size-phone, $symbol-size-phone);
              }
            }
          }

          > p {
            font-size: 30px;

            @include phone-width() {
              font-size: 24px;
            }
          }
        }

        @include phone-width() {
          height: 130px;
        }
      }

      @include phone-width() {
        overflow: hidden;
      }
    }

    #description {
      @include size(450px, 100%);
      @include independent(transparent);
      left: 500px;
      top: 0px;
      text-align: center;

      img {
        @include independent(transparent);
        bottom: 0;
        right: 0;
      }
    }

    @include phone-width() {
      height: auto;
    }
  }

  @include phone-width() {
    margin-bottom: 75px;
  }
}

.install-container {
  $background-heigh-pc: 1153px;
  $background-heigh-phone: 1183px;

  @include size(100%, auto);
  margin-bottom: 100px;
  position: relative;

  .background {
    @include size(80%, $background-heigh-pc);
    background: rgb(0, 142, 207);
    background: linear-gradient(90deg, rgba(0, 142, 207, 1) 0%, rgba(0, 168, 176, 1) 100%);

    @include phone-width() {
      @include size(90%, 1183px);
    }
  }

  .content {
    @include size(auto, auto);
    @include independent(transparent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

    .effect-title {
      height: 85px;

      :first-child {
        max-height: 85px;
        overflow: hidden;

        @include phone-width() {
          max-height: 45px;
        }
      }

      @include phone-width() {
        height: 45px;
      }
    }

    .effect-sub-title {
      height: 75px;

      :first-child {
        max-height: 75px;
        overflow: hidden;

        @include phone-width() {
          max-height: 66px;
        }
      }

      @include phone-width() {
        height: 66px;
      }
    }

    .install-title {
      // @include size(650px, auto);
      line-height: 1.25;

      @include phone-width() {
        font-size: 36px;
      }
    }

    .install-sub-title {
      &::after {
        background-color: #fff;
      }
    }

    .info-container {
      @include size(auto, 650px);
      @include flex-layout(row, center, flex-start);
      margin-top: 60px;

      .info-image-block {
        @include size(400px, 256px);
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.32);

        img {
          @include size(100%, 100%);
        }

        @include size(335px, 214px);
      }

      > :nth-child(n) {
        @include size(450px, 100%);
        position: relative;
        display: inline-block;

        @include phone-width() {
          width: 100%;
          height: auto;
        }
      }

      > :first-child {
        margin-right: 75px;

        @include phone-width() {
          margin-right: 0px;
          margin-bottom: 70px;
        }
      }

      .right {
        position: absolute;
        right: 0px;
        bottom: 60px;

        @include phone-width() {
          position: relative;

          right: 0px;
          bottom: 0px;
        }
      }

      @include phone-width() {
        margin-top: 55px;
        height: auto;
        @include flex-layout(column, flex-start, center);
      }
    }

    .info-title {
      font-size: 36px;
    }

    .info-content {
      font-size: 20px;

      @include phone-width() {
        font-size: 18px;
      }
    }

    .btn-more {
      $symbol-size-pc: 20px;
      $circle-radius-pc: 100px;
      $symbol-size-phone: 14px;
      $circle-radius-phone: 70px;

      margin-top: 60px;
      font-size: 30px;

      .bg-circle {
        @include size($circle-radius-pc, $circle-radius-pc);
        left: calc(
          (#{$circle-radius-pc} / 2 * (-1)) + (#{$symbol-size-pc} * 0.75 / 2) +
            ((#{$symbol-size-pc} - (#{$symbol-size-pc} * 0.75)) / 2)
        );

        svg {
          @include size($circle-radius-pc, $circle-radius-pc);
        }

        @include phone-width() {
          @include size($circle-radius-phone, $circle-radius-phone);
          left: calc(
            (#{$circle-radius-phone} / 2 * (-1)) + (#{$symbol-size-phone} * 0.75 / 2) +
              ((#{$symbol-size-phone} - (#{$symbol-size-phone} * 0.75)) / 2)
          );

          svg {
            @include size($circle-radius-phone, $circle-radius-phone);
          }
        }
      }

      .arrow_wrap {
        > svg {
          @include size($symbol-size-pc, $symbol-size-pc);
          fill: #fff;

          @include phone-width() {
            @include size($symbol-size-phone, $symbol-size-phone);
          }
        }
      }

      > p {
        font-size: 30px;

        @include phone-width() {
          font-size: 24px;
        }
      }

      @include phone-width() {
        margin-top: 35px;
        margin-left: 10px;
      }
    }

    @include phone-width() {
      height: $background-heigh-phone;
      @include flex-layout(column, center, flex-start);
    }
  }

  #install-asset-01 {
    $rect-size: 650px;
    @include size($rect-size, $rect-size);
    @include independent(transparent);
    bottom: calc(#{$rect-size} / 3 * 1 * -1);
    left: calc(#{$rect-size} / 3 * 1 * -1);

    @include phone-width() {
      @include size(300px, 300px);
      left: calc(1500px / 3 * 1 * -1);
    }
  }

  @include phone-width() {
    margin-bottom: 30px;
  }
}

// #info-group-1 .info-image-block::after {
//   @include independent(black);
//   @include size(100%, 100%);
//   top: 0px;
//   left: 0px;
//   transform: translateX(400px);
// }

// #info-group-2 .info-image-block::after {
//   @include independent(black);
//   @include size(100%, 100%);
//   top: 0px;
//   left: 0px;
//   transform: translateX(400px);
// }

.faq-container {
  @include flex-layout(column, flex-start, center);
  position: relative;
  margin-bottom: 150px;
  overflow: hidden;

  .faq-title {
    text-align: center;
    color: #525f6b;
    margin: 0px auto;

    @include phone-width() {
      font-size: 36px;
    }
  }

  .faq-sub-title {
    text-align: center;
    margin-bottom: 40px;

    @include phone-width() {
      font-size: 24px;
      margin-bottom: 90px;
    }
  }

  .faq-blocks {
    position: relative;
    margin-bottom: 40px;

    #faq-blocks-content {
      @include size(1300px, auto);
      @include flex-layout(row, center, flex-start);
      flex-wrap: wrap;
      color: #ffffff;
      position: relative;
      z-index: 2;

      .block {
        @include size(360px, 320px);
        min-width: 360px;
        display: inline-block;
        position: relative;
        padding: 20px 50px;

        background-color: #50237f;
        box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.35);

        .title {
          font-size: 24px;
          line-height: 2.75;
        }

        .content {
          font-size: 20px;
          line-height: 1.25;
        }

        .btn-more {
          $symbol-size-pc: 20px;
          $circle-radius-pc: 85px;
          $symbol-size-phone: 14px;
          $circle-radius-phone: 70px;

          @include independent(transparent);
          font-size: 30px;
          bottom: 20px;
          right: 55px;

          .bg-circle {
            @include size($circle-radius-pc, $circle-radius-pc);
            left: calc(
              (#{$circle-radius-pc} / 2 * (-1)) + (#{$symbol-size-pc} * 0.75 / 2) +
                ((#{$symbol-size-pc} - (#{$symbol-size-pc} * 0.75)) / 2)
            );

            svg {
              @include size($circle-radius-pc, $circle-radius-pc);
            }

            @include phone-width() {
              @include size($circle-radius-phone, $circle-radius-phone);

              left: calc(
                (#{$circle-radius-phone} / 2 * (-1)) + (#{$symbol-size-phone} * 0.75 / 2) +
                  ((#{$symbol-size-phone} - (#{$symbol-size-phone} * 0.75)) / 2)
              );

              svg {
                @include size($circle-radius-phone, $circle-radius-phone);
              }
            }
          }

          .arrow_wrap {
            > svg {
              @include size($symbol-size-pc, $symbol-size-pc);
              fill: #fff;

              @include phone-width() {
                @include size($symbol-size-phone, $symbol-size-phone);
              }
            }
          }

          > p {
            font-size: 30px;

            @include phone-width() {
              font-size: 24px;
            }
          }
        }

        @include phone-width() {
          width: 320px;
          min-width: 320px;
          padding: 20px 40px;
        }
      }

      .block-layout {
        text-align: justify;
      }

      .empty-block {
        @include size(360px, 320px);
        display: inline-block;

        @include phone-width() {
          display: none;
        }
      }

      > :nth-child(n) {
        width: 390px;
        margin-right: 40px;
        margin-bottom: 40px;

        > :first-child {
          max-width: 390px;
          height: 350px;
          overflow: hidden;

          @include phone-width() {
            max-width: 100%;
            height: 365px;
            @include flex-layout(row, center, center);
          }
        }

        @include phone-width() {
          width: 375px;
          margin-right: 0px;
          margin-bottom: 0px;
        }
      }

      > :nth-child(3n) {
        margin-right: 0px;
      }

      > :nth-child(4),
      > :nth-child(5),
      > :nth-child(6) {
        margin-bottom: 0px;
      }

      .empty-content {
        @include phone-width() {
          display: none;
        }
      }

      @include phone-width() {
        @include size(100%, auto);
        @include flex-layout(column, center, center);
      }
    }
  }

  #faq-blocks-bg {
    @include size(100%, auto);
    @include independent(transparent);
    @include flex-layout(column, center, center);

    bottom: 0px;
    opacity: 0.125;

    > div {
      @include flex-layout(row, center, flex-start);
      white-space: nowrap;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include phone-width() {
      transform: scale(1.8);
      bottom: 25%;
    }
  }

  @include phone-width() {
    margin-bottom: 0px;
  }
}

.text-char {
  margin: 0;
  display: inline-block;
  line-height: 1;
}
