@import '../common/style/globalconfigure';
@import '../common/style/_globalstyle.scss';
@import '../common/style/_font.scss';

#scroll-point {
  @include independent(transparent);
  right: 215px;
  bottom: 120px;
  transform: rotate(90deg);

  > P {
    display: inline-block;
    margin: 0;
    font-size: 12px;
  }

  #point {
    @include size(150px, 10px);
    display: inline-block;
    position: relative;
    margin-left: 10px;

    &::after {
      @include independent(transparent);
      @include size(100%, 1px);
      content: '';
      background-color: black;
      bottom: 50%;
      left: 0px;
    }

    &::before {
      @include independent(transparent);
      @include size(20px, 1px);
      content: '';
      background-color: black;
      right: 0px;
      bottom: 50%;
      transform-origin: right center;
      transform: rotate(25deg);
    }
  }
}

header {
  @include size(100%, 100vh);
  @include flex-layout(row, center, center);
  position: relative;
  margin-bottom: 200px;

  #content {
    @include size(50%, 500px);
    @include flex-layout(row, space-between, center);

    .left {
      position: relative;
      z-index: 2;

      .title,
      .sub-title {
        line-height: 1;
      }

      .title {
        height: 144px;
        div {
          transform-origin: bottom;
          max-height: 144px;
          font-size: 144px;
          color: #e20015;
        }
      }

      .sub-title {
        font-size: 80px;
      }
    }

    .right {
      @include size(200px, 100%);
      position: relative;

      .bg {
        @include independent(transparent);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        @include independent(transparent);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        z-index: 2;
      }
    }
  }

  #slogan {
    @include independent(transparent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
  }
}

.products {
  @include size(100%, 750px);
  @include flex-layout(row, center, flex-start);
  margin-bottom: 100px;

  .introduction {
    @include size(1000px, 100%);
    @include flex-layout(row, center, center);
    position: relative;

    .intro {
      @include independent(transparent);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .intro-1 {
      $rect-size: 650px;
      @include size($rect-size, $rect-size);
      @include flex-layout(column, center, center);

      svg {
        @include size($rect-size, $rect-size);
        @include independent(transparent);
        top: 0;
        left: 0;
        z-index: 2;
      }

      .info {
        @include flex-layout(column, center, center);
        color: #fff;
        position: relative;
        z-index: 3;

        .title {
          font-size: 48px;
        }

        .content {
          @include size(420px, auto);
          font-size: 30px;
        }
      }
    }
  }

  .options {
    @include size(400px, 100%);

    .option {
      @include flex-layout(row, flex-end, center);
      margin-bottom: 25px;
    }

    .option-offset {
      margin-right: 65px;
    }

    .main-option,
    .sub-option {
      display: inline-block;
    }

    .main-option {
      font-size: 64px;
      margin-right: 14px;
    }

    .sub-option {
      font-size: 36px;
      margin-right: 14px;
    }

    .main-symbol,
    .sub-symbol {
      display: inline-block;
    }

    .main-symbol {
      svg {
        @include size(50px, 50px);
      }
    }

    .sub-symbol {
      svg {
        @include size(25px, 25px);
      }
    }
  }
}

.about-us {
  margin-bottom: 200px;

  .top {
    @include size(100%, 160px);
    text-align: center;
    margin-bottom: 75px;

    svg {
      @include size(100px, 100%);

      display: inline-block;

      line {
        stroke: #bfc0c2;
        stroke-width: 1;
      }

      circle {
        stroke: #bfc0c2;
        stroke-width: 2px;
        fill: #fff;
      }
    }
  }

  .bottom {
    @include size(100%, 550px);
    @include flex-layout(row, center, flex-start);

    #head {
      position: relative;

      img {
        @include independent(transparent);
        bottom: 0;
        left: 0;
      }

      svg {
        @include independent(transparent);
        bottom: 0;
        left: 0;
      }
    }

    #content {
      font-size: 30px;
      position: relative;

      .title {
        color: #525f6b;
      }

      .sub-title {
        position: relative;
        display: inline-block;
        line-height: 2.5;
        margin-bottom: 35px;
      }

      .btn-more {
        @include independent(transparent);
        font-size: 30px;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
      }
    }

    #description {
      position: relative;

      img {
        @include independent(transparent);
        bottom: 0;
        right: 0;
      }
    }

    > :nth-child(n) {
      @include size(450px, 100%);
      text-align: center;
    }
  }
}

.install-container {
  @include size(100%, auto);
  margin-bottom: 100px;
  position: relative;

  .background {
    @include size(1552px, 1153px);
    background: rgb(0, 142, 207);
    background: linear-gradient(90deg, rgba(0, 142, 207, 1) 0%, rgba(0, 168, 176, 1) 100%);
  }

  .content {
    @include size(auto, auto);
    @include independent(transparent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

    .install-title {
      // @include size(650px, auto);
      line-height: 1.25;
    }

    .install-sub-title {
      &::after {
        background-color: #fff;
      }
    }

    .info-container {
      @include size(auto, 650px);
      @include flex-layout(row, center, flex-start);
      margin-top: 60px;

      img {
        margin-bottom: 20px;
        box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 0.32);
      }

      > :nth-child(n) {
        @include size(450px, 100%);
        position: relative;
        display: inline-block;
      }

      > :first-child {
        margin-right: 75px;
      }

      .right {
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }

    .info-title {
      font-size: 36px;
    }

    .info-content {
      font-size: 20px;
    }

    .btn-more {
      margin-top: 60px;
      font-size: 30px;

      svg {
        fill: #fff;
      }
    }
  }

  #install-asset-01 {
    $rect-size: 650px;
    @include size($rect-size, $rect-size);
    @include independent(transparent);
    bottom: calc(#{$rect-size} / 3 * 1 * -1);
    left: calc(#{$rect-size} / 3 * 1 * -1);
  }
}

.faq-container {
  @include flex-layout(column, flex-start, center);
  position: relative;
  margin-bottom: 150px;

  .faq-title {
    text-align: center;
    color: #525f6b;
    margin: 0px auto;
  }

  .faq-sub-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .faq-blocks {
    position: relative;
    margin-bottom: 40px;

    #faq-blocks-content {
      @include size(1200px, auto);
      @include flex-layout(row, center, flex-start);
      flex-wrap: wrap;
      color: #ffffff;
      position: relative;
      z-index: 2;

      // padding: 20px;
      .block-layout {
        margin-right: 40px;
        margin-bottom: 40px;
      }

      .block {
        @include size(360px, 320px);
        display: inline-block;
        position: relative;
        padding: 20px 50px;

        background-color: #50237f;
        box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.35);

        .title {
          font-size: 24px;
          line-height: 2.75;
        }

        .content {
          font-size: 20px;
          line-height: 1.25;
        }

        .btn-more {
          font-size: 30px;
          @include independent(transparent);
          bottom: 20px;
          right: 35px;

          svg {
            fill: #fff;
          }
        }
      }

      .empty-block {
        @include size(360px, 320px);
        display: inline-block;
      }

      :nth-child(3n) {
        margin-right: 0px;
      }

      :nth-child(4),
      :nth-child(5),
      :nth-child(6) {
        margin-bottom: 0px;
      }
    }
  }

  #faq-blocks-bg {
    @include size(100%, auto);
    @include independent(transparent);
    @include flex-layout(column, center, center);

    bottom: 0px;
    opacity: 0.125;

    > div {
      @include flex-layout(row, center, flex-start);
      white-space: nowrap;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.text-char {
  margin: 0;
  display: inline-block;
  line-height: 1;
}
