h1 {
  color: brown;
}

h2 {
  color: green;
}

.box-3 {
  width: 100px;
  height: 100px;
  background-color: brown;
  background-position: center;
  background-size: cover;
  background-image: url('../images/dessert.jpg');
}
