@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans TC', sans-serif, Arial !important;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #1a1a1a;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h1 {
  font-size: 2.8rem;
}

h1 {
  font-size: 2.4rem;
}

h1 {
  font-size: 2.2rem;
}

h1 {
  font-size: 2rem;
}

h1 {
  font-size: 1.8rem;
}

b {
  font-weight: 500;
}

ol,
ul {
  padding-left: 1.7rem;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.main-container {
  position: relative;
  background: #d6d8d9;
  background: -webkit-gradient(linear, left top, right top, from(#d6d8d9), color-stop(50%, rgba(253, 251, 251, 0)), to(#d6d8d9));
  background: linear-gradient(90deg, #d6d8d9 0%, rgba(253, 251, 251, 0) 50%, #d6d8d9 100%);
}

#loading-bar {
  position: absolute;
  content: '';
  background-color: #fff;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

#loading-bar .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

#loading-bar .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

#menu-window {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  padding: 200px 450px;
}

#menu-window .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

#menu-window .top > :nth-child(n) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#menu-window .top .menu-block .main-title {
  font-size: 24px;
  color: #525f6b;
}

#menu-window .top .menu-block .sub-title {
  font-size: 20px;
}

#menu-window .top .menu-block .option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

#menu-window .top .menu-block .option .bg-circle {
  width: 40px;
  height: 40px;
  left: 100px;
}

#menu-window .top .menu-block .option .bg-circle svg {
  width: 40px;
  height: 40px;
}

#menu-window .top .menu-block .option > p {
  font-size: 20px;
  margin-right: 10px;
}

#menu-window .top .menu-block .option > svg {
  width: 20px;
  height: 20px;
}

#menu-window .top .menu-block .option:hover .bg-circle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#menu-window .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#menu-window .bottom .line-block {
  height: 100%;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-right: 50px;
  position: relative;
}

#menu-window .bottom .line-block::before {
  position: absolute;
  content: '';
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 1px;
  content: '';
  top: 50%;
}

.social-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social-media-block .social-media-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  margin-right: 8px;
}

#menu-button {
  width: 35px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1001;
  cursor: pointer;
  top: 35px;
  right: 15%;
}

#menu-button span::before {
  position: absolute;
  content: '';
  background-color: #000;
  z-index: 1;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  -webkit-transition: width 0.35s 0.45s;
  transition: width 0.35s 0.45s;
}

#menu-button span::after {
  position: absolute;
  content: '';
  background-color: #000;
  z-index: 1;
  width: 100%;
  height: 2px;
  right: 0;
  bottom: 0;
  -webkit-transition: width 0.35s 0.45s;
  transition: width 0.35s 0.45s;
}

#menu-button::before {
  position: absolute;
  content: '';
  background-color: #000;
  z-index: 1;
  width: 100%;
  height: 2px;
  left: 0;
  top: calc((20px / 2) - (2px / 2));
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.45s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.45s cubic-bezier(0.33, 1, 0.68, 1);
}

#menu-button::after {
  position: absolute;
  content: '';
  background-color: #000;
  z-index: 1;
  width: 100%;
  height: 2px;
  right: 0;
  bottom: calc((20px / 2) - (2px / 2));
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.45s cubic-bezier(0.33, 1, 0.68, 1);
  transition: 0.45s cubic-bezier(0.33, 1, 0.68, 1);
}

@media all and (max-width: 479px) {
  #menu-button {
    width: 25px;
    height: 14px;
    right: 5%;
  }
  #menu-button::before {
    top: calc((14px / 2) - (2px / 2));
  }
  #menu-button::after {
    bottom: calc((14px / 2) - (2px / 2));
  }
}

#menu-button.show span::before {
  right: 0;
  width: 0;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

#menu-button.show span::after {
  width: 0;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

#menu-button.show::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
}

#menu-button.show::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.5s 0.65s cubic-bezier(0.33, 1, 0.68, 1);
}

nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav #home {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 160px;
  height: 54px;
  cursor: pointer;
  top: 35px;
  left: 18%;
}

nav #home img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 479px) {
  nav #home {
    width: 98px;
    height: 32px;
    left: 6%;
  }
}

.footer {
  position: relative;
  background-color: #ffffff;
}

.footer #top-point {
  width: 50px;
  height: 100px;
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(0px - (100px / 2));
  left: calc(50% - (50px / 2));
}

.footer #top-point #point {
  width: 1px;
  height: 75px;
  opacity: 0.75;
  background-color: black;
  margin-bottom: 10px;
}

.footer #top-point #point::before {
  width: 1px;
  height: 10px;
  position: absolute;
  content: '';
  background-color: black;
  z-index: 1;
  content: '';
  top: 0px;
  left: calc(50% - (1px / 2));
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
}

.footer #top-point P {
  text-align: center;
  line-height: 1;
}

@media all and (max-width: 479px) {
  .footer #top-point {
    left: auto;
    top: calc(50% - (100px / 2));
    right: calc(50px / 2);
  }
}

.footer .top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 90px 0px 25px 0px;
}

.footer .top #special-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .top .social-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .top .social-media-block .social-media-symbol {
  width: 32px;
  height: 32px;
  font-size: 18px;
}

@media all and (max-width: 479px) {
  .footer .top .social-media-block {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 479px) {
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}

.footer .bottom {
  width: 100%;
  height: 22px;
}

.footer .bottom svg {
  width: 100%;
  height: auto;
}

.footer .footer-content {
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 100px;
  padding: 10px;
}

.footer .footer-content .title {
  font-size: 18px;
}

.footer .footer-content .main-link {
  font-size: 16px;
}

.footer .footer-content .sub-title {
  font-size: 16px;
}

.footer .footer-content .sub-link {
  font-size: 14px;
  padding-left: 18px;
}

@media all and (max-width: 479px) {
  .footer .footer-content {
    width: 100%;
  }
}

.footer .link {
  cursor: pointer;
}

.footer .link a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer .link a:hover {
  color: gray;
}

#copy-right {
  display: inline-block;
  margin: 10px 0px 0px 30px;
  padding: 5px;
}

@media all and (max-width: 479px) {
  #copy-right {
    margin: 0px;
    padding: 0px 0px 0px 30px;
    font-size: 12px;
  }
}

.frame {
  overflow: hidden;
}

.tch-r {
  font-weight: 300;
}

.tch-b {
  font-weight: 500;
}

.eng-bl {
  font-family: 'Bosch Sans Black';
}

.eng-bl-l {
  font-family: 'Bosch Sans BlackItalic';
}

.eng-b {
  font-family: 'Bosch Sans Bold';
}

.eng-b-l {
  font-family: 'Bosch Sans BoldItalic';
}

.eng-l {
  font-family: 'Bosch Sans Light';
}

.eng-l-l {
  font-family: 'Bosch Sans LightItalic';
}

.eng-m {
  font-family: 'Bosch Sans Medium';
}

.eng-m-l {
  font-family: 'Bosch Sans MediumItalic';
}

.eng-r {
  font-family: 'Bosch Sans Regular';
}

.eng-r-i {
  font-family: 'Bosch Sans RegularItalic';
}

.title {
  font-size: 64px;
}

.sub-title {
  font-size: 24px;
}

.bottom-line {
  position: relative;
  display: inline-block;
  line-height: 2.75;
}

.bottom-line::after {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 100%;
  height: 4px;
  content: '';
  background-color: #000000;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.btn-more .bg-circle {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 150px;
  height: 150px;
  cursor: auto;
  pointer-events: none;
  left: calc((150px / 2 * (-1)) + 10px);
  z-index: 1;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn-more .bg-circle svg {
  width: 150px;
  height: 150px;
}

.btn-more .bg-circle svg circle {
  fill: #8f8f8f;
}

.btn-more .arrow_wrap {
  margin-right: 20px;
}

.btn-more .arrow_wrap > svg {
  z-index: 2;
}

.btn-more > p {
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn-more:hover .bg-circle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes point_move_LT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

@keyframes point_move_LT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

@-webkit-keyframes point_move_RT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

@keyframes point_move_RT {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  41% {
    opacity: 0;
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px, 0px);
            transform: translateX(0px, 0px);
  }
}

.btn-more-point-move-LT:hover .arrow_wrap > svg {
  -webkit-animation: point_move_LT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: point_move_LT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.btn-more-point-move-RT:hover .arrow_wrap > svg {
  -webkit-animation: point_move_RT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: point_move_RT 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.btn-more-point-scale .arrow_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10;
}

.btn-more-point-scale:hover .arrow_wrap {
  -webkit-animation: anim-point-scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: anim-point-scale 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

@-webkit-keyframes anim-point-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes anim-point-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

.btn-more-arrow-path-B-2-W:hover .arrow_path {
  -webkit-animation: anim_arrow_path_B_2_W 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          animation: anim_arrow_path_B_2_W 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  fill: white;
}

@-webkit-keyframes anim_arrow_path_B_2_W {
  0% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

@keyframes anim_arrow_path_B_2_W {
  0% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

.btn-more-color-red .bg-circle svg circle {
  fill: #e20015;
}

.btn-more-color-cyan-blue .bg-circle svg circle {
  fill: #00a8b0;
}

.btn-more-color-lake-blue .bg-circle svg circle {
  fill: #008ecf;
}

.btn-more-color-orange .bg-circle svg circle {
  fill: #ffb34a;
}

.btn-more-color-black .bg-circle svg circle {
  fill: #2c3238;
}

.btn-more-color-apple-green .bg-circle svg circle {
  fill: #78be20;
}

.btn-more-color-fuchsia .bg-circle svg circle {
  fill: #b90376;
}

.btn-more-color-turquoise .bg-circle svg circle {
  fill: #00a8b0;
}

.btn-more-hover-right-5:hover > p {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.btn-more-hover-right-10:hover > p {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.btn-more-hover-right-15:hover > p {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.btn-more-hover-right-20:hover > p {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.btn-more-hover-right-30:hover > p {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.btn-more-hover-right-40:hover > p {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.btn-more-hover-right-50:hover > p {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.btn-more-hover-left-5:hover > p {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.btn-more-hover-left-10:hover > p {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.btn-more-hover-left-15:hover > p {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.btn-more-hover-left-20:hover > p {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.btn-more-hover-left-30:hover > p {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.btn-more-hover-left-40:hover > p {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

@media all and (max-width: 479px) {
  .btn-more-hover-left-40:hover > p {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.btn-more-hover-left-50:hover > p {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media all and (max-width: 479px) {
  .btn-more-hover-left-50:hover > p {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

.btn-more-move-style-1 > p {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  transition: -webkit-transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
  transition: transform 0.85s cubic-bezier(0.25, 1, 0.5, 1), -webkit-transform 0.85s cubic-bezier(0.25, 1, 0.5, 1);
}

.max-h-100 {
  height: 100px;
}

.max-h-100 :first-child {
  max-height: 100px;
  overflow: hidden;
}

.max-h-95 {
  height: 95px;
}

.max-h-95 :first-child {
  max-height: 95px;
  overflow: hidden;
}

.max-h-90 {
  height: 90px;
}

.max-h-90 :first-child {
  max-height: 90px;
  overflow: hidden;
}

.max-h-85 {
  height: 85px;
}

.max-h-85 :first-child {
  max-height: 85px;
  overflow: hidden;
}

.max-h-80 {
  height: 80px;
}

.max-h-80 :first-child {
  max-height: 80px;
  overflow: hidden;
}

.max-h-75 {
  height: 75px;
}

.max-h-75 :first-child {
  max-height: 75px;
  overflow: hidden;
}

.max-h-70 {
  height: 70px;
}

.max-h-70 :first-child {
  max-height: 70px;
  overflow: hidden;
}

.max-h-65 {
  height: 65px;
}

.max-h-65 :first-child {
  max-height: 65px;
  overflow: hidden;
}

.max-h-55 {
  height: 55px;
}

.max-h-55 :first-child {
  max-height: 55px;
  overflow: hidden;
}

.max-h-35 {
  height: 35px;
}

.max-h-35 :first-child {
  max-height: 35px;
  overflow: hidden;
}

@font-face {
  font-family: 'Bosch Sans CHS Regular';
  src: url("../files/fonts/BoschSansCHS-Regular.eot");
  src: url("../files/fonts/BoschSansCHS-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSansCHS-Regular.woff") format("woff"), url("../files/fonts/BoschSansCHS-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans CHS Bold';
  src: url("../files/fonts/BoschSansCHS-Bold.eot");
  src: url("../files/fonts/BoschSansCHS-Bold.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSansCHS-Bold.woff") format("woff"), url("../files/fonts/BoschSansCHS-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Black';
  src: url("../files/fonts/BoschSans-Black.eot");
  src: url("../files/fonts/BoschSans-Black.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Black.woff") format("woff"), url("../files/fonts/BoschSans-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans BlackItalic';
  src: url("../files/fonts/BoschSans-BlackItalic.eot");
  src: url("../files/fonts/BoschSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-BlackItalic.woff") format("woff"), url("../files/fonts/BoschSans-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Bold';
  src: url("../files/fonts/BoschSans-Bold.eot");
  src: url("../files/fonts/BoschSans-Bold.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Bold.woff") format("woff"), url("../files/fonts/BoschSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans BoldItalic';
  src: url("../files/fonts/BoschSans-BoldItalic.eot");
  src: url("../files/fonts/BoschSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-BoldItalic.woff") format("woff"), url("../files/fonts/BoschSans-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Light';
  src: url("../files/fonts/BoschSans-Light.eot");
  src: url("../files/fonts/BoschSans-Light.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Light.woff") format("woff"), url("../files/fonts/BoschSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans LightItalic';
  src: url("../files/fonts/BoschSans-LightItalic.eot");
  src: url("../files/fonts/BoschSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-LightItalic.woff") format("woff"), url("../files/fonts/BoschSans-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Medium';
  src: url("../files/fonts/BoschSans-Medium.eot");
  src: url("../files/fonts/BoschSans-Medium.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Medium.woff") format("woff"), url("../files/fonts/BoschSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans MediumItalic';
  src: url("../files/fonts/BoschSans-MediumItalic.eot");
  src: url("../files/fonts/BoschSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-MediumItalic.woff") format("woff"), url("../files/fonts/BoschSans-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans Regular';
  src: url("../files/fonts/BoschSans-Regular.eot");
  src: url("../files/fonts/BoschSans-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-Regular.woff") format("woff"), url("../files/fonts/BoschSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans RegularItalic';
  src: url("../files/fonts/BoschSans-RegularItalic.eot");
  src: url("../files/fonts/BoschSans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/BoschSans-RegularItalic.woff") format("woff"), url("../files/fonts/BoschSans-RegularItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

.slogan {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  position: relative;
}

.slogan .content {
  width: 150px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: transform;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: calc(50% - (150px / 2) + 0px);
  top: calc(50% - (300px / 2) + -75px);
}

.slogan .content > p {
  line-height: 1;
  color: #525f6b;
}

.slogan .content p[name='issue'] {
  font-size: 20px;
  margin-bottom: 0px;
}

.slogan .content p[name='eng'] {
  font-size: 60px;
  margin-bottom: 30px;
}

@media all and (max-width: 479px) {
  .slogan .content p[name='issue'] {
    margin-bottom: 10px;
  }
  .slogan .content p[name='eng'] {
    font-size: 30px;
  }
}

.slogan .bg {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.45;
}

.slogan .bg .txt-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan .bg .txt-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.slogan div[name='pic-01'] {
  width: 128px;
  height: 285px;
  position: absolute;
  content: '';
  background-color: transform;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: calc(50% - (128px / 2) + -300px);
  top: calc(50% - (285px / 2) + 50px);
  -webkit-transform: rotateZ(-20deg);
          transform: rotateZ(-20deg);
}

.slogan div[name='pic-01'] img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 479px) {
  .slogan div[name='pic-01'] {
    width: 105px;
    height: 235px;
    left: calc(50% - (105px / 2) + -60px);
    top: calc(50% - (235px / 2) + 45px);
  }
}

.slogan div[name='pic-02'] {
  width: 81px;
  height: 329px;
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: calc(50% - (81px / 2) + 375px);
  top: calc(50% - (329px / 2) + 0px);
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
}

.slogan div[name='pic-02'] img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 479px) {
  .slogan div[name='pic-02'] {
    width: 57px;
    height: 235px;
    left: calc(50% - (57px / 2) + 95px);
    top: calc(50% - (235px / 2) + 0px);
  }
}

@media all and (max-width: 479px) {
  .slogan {
    margin-top: 115px;
  }
}

.lists {
  width: 100%;
  height: auto;
  position: relative;
}

.lists .lists-container {
  width: 100%;
  height: auto;
  padding: 0px 20% 220px 20%;
}

.lists .lists-container > :nth-child(n) {
  margin-bottom: 75px;
}

.lists .lists-container > :last-child {
  margin-bottom: 0px;
}

.lists .lists-container #company .title {
  position: relative;
  font-size: 72px;
  line-height: 2;
}

.lists .lists-container #company .title::before {
  position: absolute;
  content: '';
  background-color: black;
  z-index: 1;
  width: 8%;
  height: 9px;
  content: '';
  background-color: #50237f;
  opacity: 0.5;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);
  bottom: 0px;
  left: 0px;
}

@media all and (max-width: 479px) {
  .lists .lists-container #company .title {
    font-size: 48px;
  }
  .lists .lists-container #company .title::before {
    width: 28%;
    height: 9px;
  }
}

.lists .lists-container #company .info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lists .lists-container #company .info #title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  font-size: 36px;
  display: inline-block;
}

@media all and (max-width: 479px) {
  .lists .lists-container #company .info #title {
    margin: 10px 0px 10px 16px;
  }
}

.lists .lists-container #company .info #content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 100%;
  display: inline-block;
  background-color: #50237f;
  padding: 37px;
  font-size: 20px;
  color: #fff;
}

.lists .lists-container #company .info #content > div :first-child {
  width: 125px;
  height: auto;
}

.lists .lists-container #company .info #content p {
  display: inline-block;
}

@media all and (max-width: 479px) {
  .lists .lists-container #company .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.lists .lists-container .title {
  font-size: 36px;
  margin-left: 0px;
  line-height: 3;
}

@media all and (max-width: 479px) {
  .lists .lists-container .title {
    font-size: 24px;
    margin-left: 16px;
  }
}

.lists .lists-container .block .list {
  color: #fff;
  max-height: 80px;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);
}

.lists .lists-container .block .list div[name='list-block'] {
  width: 100%;
  height: auto;
  background-color: #50237f;
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}

.lists .lists-container .block .list .question {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 22px 70px 22px 35px;
  cursor: pointer;
}

@media all and (max-width: 479px) {
  .lists .lists-container .block .list .question {
    padding: 22px 55px 22px 17px;
  }
}

.lists .lists-container .block .list:hover {
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.lists .lists-container .block .list .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 35px 22px 35px;
  line-height: 1.75;
}

@media all and (max-width: 479px) {
  .lists .lists-container .block .list .answer {
    padding: 0px 35px 22px 17px;
  }
}

.lists .lists-container .block .list .list-symbol {
  display: inline-block;
  margin-right: 20px;
}

.lists .lists-container .block .list .list-text {
  display: inline-block;
}

.lists .lists-container .block .list .que-btn {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 30px;
  right: 20px;
  pointer-events: none;
  float: right;
}

.lists .lists-container .block .list .que-btn::before {
  position: absolute;
  content: '';
  background-color: #fff;
  z-index: 1;
  width: 100%;
  height: 4px;
  content: '';
  top: calc(50% - (4px / 2));
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.lists .lists-container .block .list .que-btn::after {
  position: absolute;
  content: '';
  background-color: #fff;
  z-index: 1;
  width: 4px;
  height: 100%;
  content: '';
  left: calc(50% - (4px / 2));
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.lists .lists-container .block .list .que-btn.show::before, .lists .lists-container .block .list .que-btn.show::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

@media all and (max-width: 479px) {
  .lists .lists-container .block .list:hover {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media all and (max-width: 479px) {
  .lists .lists-container {
    padding: 0px 5% 110px 5%;
  }
}
/*# sourceMappingURL=support.css.map */