@import '../common/style/globalconfigure';
@import '../common/style/_globalstyle.scss';
@import '../common/style/_font.scss';

.slogan {
  $slogan-configure: (
    margin_top: (
      pc: 150px,
      phone: 115px,
    ),
  );

  @include size(100%, 400px);
  @include flex-layout(column, center, center);
  margin-top: map-get(map-get($slogan-configure, margin_top), pc);
  position: relative;

  .content {
    $content-configure: (
      issue_margin_bottom: (
        pc: 0px,
        phone: 10px,
      ),
      eng_font_size: (
        pc: 60px,
        phone: 30px,
      ),
    );

    $width: 150px;
    $height: 300px;
    @include size($width, $height);
    @include independent(transform);
    @include flex-layout(column, center, center);
    @include translate-center($width, $height, 0px, -75px);

    > p {
      line-height: 1;
      color: #525f6b;
    }

    p[name='issue'] {
      font-size: 20px;
      margin-bottom: map-get(map-get($content-configure, issue_margin_bottom), pc);
    }

    p[name='eng'] {
      font-size: map-get(map-get($content-configure, eng_font_size), pc);
      margin-bottom: 30px;
    }

    @include phone-width() {
      p[name='issue'] {
        margin-bottom: map-get(map-get($content-configure, issue_margin_bottom), phone);
      }

      p[name='eng'] {
        font-size: map-get(map-get($content-configure, eng_font_size), phone);
      }
    }
  }

  .bg {
    @include size(100%, auto);
    @include flex-layout(column, flex-start, center);
    opacity: 0.45;

    .txt-question {
      @include flex-layout(row, center, center);
    }

    .txt-faq {
      @include flex-layout(row, flex-start, center);
      overflow: hidden;
      white-space: nowrap;
    }
  }

  div[name='pic-01'] {
    $width: 150px;
    $height: 300px;
    @include size($width, $height);
    @include independent(transform);
    @include flex-layout(column, center, center);
    @include translate-center($width, $height, -350px, 0px);
    transform: rotateZ(-20deg);

    @include phone-width() {
      @include translate-center($width, $height, -60px, 50px);
    }
  }

  div[name='pic-02'] {
    $configure: (
      offset: (
        pc: 375px,
        phone: 90px,
      ),
    );

    $width: 150px;
    $height: 300px;
    @include size($width, $height);
    @include independent(transparent);
    @include flex-layout(column, center, center);
    @include translate-center($width, $height, 375px, 0px);
    transform: rotateZ(30deg);

    @include phone-width() {
      @include translate-center($width, $height, 40px, 0px);
    }
  }

  @include phone-width() {
    margin-top: map-get(map-get($slogan-configure, margin_top), phone);
  }
}

.lists {
  $configure: (
    list-container: (
      padding: (
        pc: 0px 20% 220px 20%,
        phone: 0px 5% 220px 5%,
      ),
      title: (
        font-size: (
          pc: 36px,
          phone: 24px,
        ),
      ),
    ),
    question: (
      padding: (
        pc: 22px 70px 22px 35px,
        phone: 22px 55px 22px 17px,
      ),
    ),
  );

  @include size(100%, auto);
  position: relative;

  .lists-container {
    @include size(100%, auto);
    padding: map-get(map-get(map-get($configure, list-container), padding), pc);

    > :nth-child(n) {
      margin-bottom: 75px;
    }

    > :last-child {
      margin-bottom: 0px;
    }

    #company {
      .title {
        position: relative;
        font-size: 72px;
        line-height: 2;

        &::before {
          @include independent(black);
          @include size(8%, 9px);
          content: '';
          background-color: $color_purple;
          opacity: 0.5;
          box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);
          bottom: 0px;
          left: 0px;
        }
      }

      .info {
        @include size(100%, auto);
        @include flex-layout(row, center, flex-start);

        #title {
          flex: 1;
          height: 100%;
          font-size: 36px;
          display: inline-block;
        }

        #content {
          flex: 4;
          height: 100%;
          display: inline-block;
          background-color: $color_purple;
          padding: 37px;

          font-size: 20px;
          color: $color_white;

          > div {
            :first-child {
              @include size(125px, auto);
            }
          }

          p {
            display: inline-block;
          }
        }
      }
    }

    .title {
      font-size: map-get(
        map-get(map-get(map-get($configure, list-container), title), font-size),
        pc
      );
      line-height: 3;

      @include phone-width() {
        font-size: map-get(
          map-get(map-get(map-get($configure, list-container), title), font-size),
          phone
        );
      }
    }

    .block {
      .list {
        $view-height: 80px;
        color: $color_white;
        max-height: $view-height;
        overflow: hidden;
        position: relative;
        font-size: 20px;
        margin-bottom: 30px;
        transition: all 0.35s ease-out;
        cursor: pointer;
        color: $color_white;
        box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);

        div[name='list-block'] {
          @include size(100%, auto);
          background-color: $color_purple;
          opacity: 0.5;
          pointer-events: none;
          position: relative;
        }

        .question {
          @include size(100%, $view-height);
          @include flex-layout(row, flex-start, flex-start);
          position: relative;
          padding: map-get(map-get(map-get($configure, question), padding), pc);

          cursor: pointer;

          @include phone-width() {
            padding: map-get(map-get(map-get($configure, question), padding), phone);
          }
        }

        .question.show {
          .que-btn {
            &::before,
            &::after {
              transform: rotateZ(45deg);
            }
          }
        }

        &:hover {
          transform: translateX(-25px);
        }

        .answer {
          @include flex-layout(row, flex-start, flex-start);
          padding: 0px 35px 22px 35px;
          line-height: 1.75;
        }

        .list-symbol {
          display: inline-block;
          margin-right: 20px;
        }

        .list-text {
          display: inline-block;
        }

        .que-btn {
          $vh-unit: 20px;
          $line-width: 4px;
          @include independent(transparent);
          @include size($vh-unit, $vh-unit);
          top: 30px;
          right: 20px;
          pointer-events: none;
          float: right;

          &::before {
            @include independent($color_white);
            @include size(100%, $line-width);
            content: '';
            top: calc(50% - (#{$line-width} / 2));
            transform: rotateZ(0deg);
            transition: transform 0.25s linear;
          }

          &::after {
            @include independent($color_white);
            @include size($line-width, 100%);
            content: '';
            left: calc(50% - (#{$line-width} / 2));
            transform: rotateZ(0deg);
            transition: transform 0.25s linear;
          }
        }
      }
    }

    @include phone-width() {
      padding: map-get(map-get(map-get($configure, list-container), padding), phone);
    }
  }
}
